body, html {
    position: relative;
}
.activation-button {
    position:  static;
    cursor: pointer;
    background-image: url(/img/new_design/activation.png);
    background-repeat: no-repeat;
    width: 99px;
    height: 65px;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 35px 0 0 0;
}
/** Category list */

.widget.categories {
    padding: 0 11px 0;
    position: relative;
    z-index: 5;
}

.widget.categories > .wrap {
    padding: 10px 2px 2px;
    margin-top: -10px;
    background: #B3B9BF;
    border: solid 2px #EAEAEA;
    border-radius: 3px;
}

.categories-list {
    background: #D8DADC;
    border: solid 1px #9FA4A8;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    margin-top: -5px;
}

.categories-list.empty-list {
    font-weight: bold;
    text-align: center;
}

.categories-list > li {
    margin-top: 3px;
    font-size: 14px;
}

.categories-list > li a {
    color: #6A6C75;
    text-shadow: #FAFAFB 1px 1px 5px;
    text-decoration: none;
    display: block;
    text-indent: 80px;
    position: relative;
    z-index: 20;
}

.categories-list > li .icon {
    max-width: 38px;
    max-height: 38px;
    position: absolute;
    top: 6px;
    left: 10px;
    z-index: 5;
}

.categories-list > li > span {
    line-height: 48px;
    display: block;
    position: relative;
    border-bottom: solid 1px #CED0D2;
    border-top: solid 1px #CCCED0;
    background: #ebeaeb; /* Old browsers */
    background: -moz-linear-gradient(top, #ebeaeb 0%, #bababa 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebeaeb), color-stop(100%, #bababa)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ebeaeb 0%, #bababa 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ebeaeb 0%, #bababa 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ebeaeb 0%, #bababa 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ebeaeb 0%, #bababa 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ebeaeb', endColorstr = '#bababa', GradientType = 0); /* IE6-9 */
}

.categories-list > li.current > span{
	background:#fff
}

.categories-list > li > ul {
    background: #fff;
    display: none;
}

.categories-list > li.active > ul {
    display: block;
}

.categories-list > li > ul > li {
    line-height: 30px;
    position: relative;
}

.categories-list > li > ul > li .icon {
    max-width: 26px;
    max-height: 26px;
}

.categories-list > li > ul > li a {
    text-indent: 50px;
}

.categories-list > li > ul > li.active a {
    color: #DD195B;
}

.categories-list .items-count {
    position: absolute;
    right: 8px;
    top: 50%;
    text-align: center;
    margin-top: -10px;
    font-size: 11px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    background: #efefef;
    border-radius: 100%;
}

.categories-list > li.current .items-count{
	background: #dddcdd;
}

/** Catalog **/
.gift.list {
    font-size: 0;
    margin:40px 0 0 -20px;
}

.scaffolding:after ,
.gift.list:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

.gift.list > .item {
    font-size: 11px;
    float:left;
    width: 360px;
    margin-left: 35px;
    margin-bottom: 60px;
    background: #fff;
    position: relative;
    height: 169px;
    border-radius: 3px;
}

.gift.list > .item .ribbon {
    font-size: 12px;
    display: block;
    margin: 0 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.gift.list > .item .ribbon > span {
    line-height: 1.2;
    height: 38px;
    padding:2px 10px 0 140px;
    text-indent: 0;
}

.gift.list > .item .ribbon:before {
    display: none;
}

.gift.list > .item .info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

.gift.list > .item .info > .img {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 169px;
    width:130px;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.gift.list > .item .info > .img > img {
    max-width: 100%;
}

.gift.list > .item .info > .img:after {
    content: "";
    background: url(/images/10/gift-main-t.png);
    position: absolute;
    top: -42px;
    bottom: 0;
    left: -15px;
    width: 157px;
    height: 221px;
}

.gift.list > .item .description {
    /*color: #7D8086;*/
    color: #606265;
    line-height: 15px;
    padding: 10px 10px 0 145px;
    overflow: hidden;
    height: 70px;
    position: relative;
}

.gift.list > .item .description:after {
    content: "";
    display: block;
    background: url(/images/opacity-gradient.png);
    width: 29px;
    height: 16px;
    position: absolute;
    bottom: 3px;
    right: 10px;
}

.gift.list > .item > .footer {
    background: #efefef;
    border-bottom-right-radius: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    padding: 10px 0 0 145px;
    .box-sizing(border-box);
}

.gift.list > .item > .footer > .buy-button {
    top: 8px;
    left: auto;
    right: 10px;
}

.gift.list > .item .info > .price {
    font-size:17px;
    color:#fff;
    display:block;
    position:absolute;
    z-index: 250;
    bottom:0;
    left:0;
    right:0;
    line-height: 38px;
    text-align: center;
}

    .gift.list > .item.discount .info > .price {
        text-decoration: line-through;
    }

.gift.list > .item .info .label.price {
    text-decoration: none !important;
    background: url("/images/off-label.png") transparent;
    color: #FFFFFF;
    font-size: 14px;
    height: 50px;
    bottom: 28px;
    left: -6px;
    padding: 10px 0px 5px 12px;
    position: absolute;
    width: 131px;
    text-align: left;
    line-height: 1.2;
}

.label.price > span {
    font-size: 18px;
    display:block;
}

.label {
    font-size:0;
}

.label.new {
    background: url("/images/new.png") 0px 0px no-repeat transparent;
    height: 60px;
    left: -20px;
    position: absolute;
    top: -20px;
    width: 60px;
}

.label.discount {
    background: url("/images/off.png") no-repeat transparent;
    border-radius: 40px;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 80px;
    left: -23px;
    line-height: 80px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.506);
    top: -23px;
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    width: 80px;
    z-index: 600;
}

    .label.discount.big {
        background-position: 0% 0%;
    }

    .label.discount.middle {
        background-position: 50% 50%;
    }

    .label.discount.small {
        background-position: 100% 100%;
    }

.label.not-available {
    background: url("/images/no-available-item.png") 0px 0px no-repeat transparent;
    height: 61px;
    left: -20px;
    position: absolute;
    top: -20px;
    width: 60px;
}

.label.weekend {
    background: url("/images/weekend.png") transparent;
    height: 61px;
    left: -20px;
    position: absolute;
    top: -20px;
    width: 60px;
}

/** Superimpressions **/
.superimpressions {
}
.superimpressions .item {
    width:345px;
    margin-left:60px;
    margin-bottom:40px;
    height:310px;
    background: #fff;
    border-radius: 5px;
    float:left;
    display:block;
    padding-bottom: 20px;
    position: relative;
}

.superimpressions .item .ribbon {
    font: normal normal 400 16px/40px Arial;
    text-decoration: none;
    display:block;
}

.superimpressions .item img {
    max-width: 100%;
}

.superimpressions .item .figure {
    position:relative;
    margin:20px;
    text-align: center;
}

.superimpressions .item .figure > img {
    max-height: 200px;
}

.superimpressions .item .figure > .figcaption {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    display:block;
    opacity: 0;
    filter: ~"alpha(opacity = 0)";
    cursor: pointer;
}

    .superimpressions .item .figure > .figcaption .count ,
    .superimpressions .item .figure > .figcaption .child-title {
        display:block;
        color:#008000;
        line-height: 1.4;
        text-shadow: 0px 0px 5px #fff;
    }
    .superimpressions .item .figure > .figcaption .thumbs {
        margin-left: -10px;
    }
.superimpressions .item .figure > .figcaption .thumbs:after {
    content: "";
    display: block;
    clear:both;
    height: 0;
}
    .superimpressions .item .figure > .figcaption .thumbs > img {
        width:64px;
        display:block;
        float:left;
        margin: 0 0 10px 10px;
        border:solid 2px transparent;
        border-radius: 2px;
    }

        .superimpressions .item .figure > .figcaption .thumbs > img:hover {
            border-color: #DD195B;
        }

.superimpressions .item .buy-button {
    bottom:8px;
    right:20px;
    left:auto;
}

.superimpression .items li {
    width: 222px;
    font-size:12px;
}

.image > img {
    max-width: 100%;
}

.superimpression .aside {
    margin-bottom: 20px;
}

.superimpressions .item .price {
    background: #83B400;
    font-size: 19px;
    position: absolute;
    bottom: 0;
    left:0;
    width: 140px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 40px;
    padding:0 10px;
    text-align: center;
}


.superimpression .aside .pack-please {
    float:none;
    clear:both;
    margin:10px auto 0;
}

/** Modal window */
.item-modal {
    position:absolute;
    width:500px;
    top:100px;
    left:50%;
    margin-left:-250px;
    z-index:10000;

}

.item-modal > .description {
    background: #fff;
    border-radius: 10px;
    padding:0 20px 20px;
    margin:-10px 0px;
    border:solid 1px #999;
    color:#5B5B5B;
    font-size:12px;
}

.item-modal > .ribbon {
    font-size:18px;
    font-weight: normal;
}

.item-modal > .description > h2 {
    margin:20px 0 10px;
}

.item-modal > .description > p
.item-modal > .description > div {
    margin:5px 0px;
}

.item-modal > .description img {
    display:block;
    max-width: 100%;
    margin:0 auto;
}

.modal-overlay {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.4);
    z-index:9999;
}

.feedbacks {
    float:left;
}

.teasers {
    float:right;
    margin:0 25px 20px 0;
    list-style: none;
}

.teasers li {
    float:left;
    position: relative;
    padding:0 0 28px;
    margin:0 0 0 35px;
    width:230px;
}

.teasers li:first-child {
    margin:0;
}

.teasers li img {
    max-width: 230px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.teasers li .caption {
    position: absolute;
    bottom:2px;
    left:0;
    display: block;
    text-align:center;
    line-height: 28px;
    width:225px;
    padding-right: 5px;
    font-size:16px;
    text-shadow:1px 1px 1px #3095c7;
    text-decoration: none;
    background: #2c9cf8;
    background: -moz-linear-gradient(left, #2c9cf8 0%, #4cc2f4 20%, #1394e8 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2c9cf8), color-stop(20%,#4cc2f4), color-stop(100%,#1394e8));
    background: -webkit-linear-gradient(left, #2c9cf8 0%,#4cc2f4 20%,#1394e8 100%);
    background: -o-linear-gradient(left, #2c9cf8 0%,#4cc2f4 20%,#1394e8 100%);
    background: -ms-linear-gradient(left, #2c9cf8 0%,#4cc2f4 20%,#1394e8 100%);
    background: linear-gradient(to right, #2c9cf8 0%,#4cc2f4 20%,#1394e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c9cf8', endColorstr='#1394e8',GradientType=1 );
}
.teasers li .caption:after {
    display:block;
    content:"";
    width:9px;
    height:34px;
    background: url(/images/blue-ribbon.png) no-repeat;
    position:absolute;
    bottom:-6px;
    right:-5px;
}

.corp-clients {
    position: static;
    float:right;
    margin-right: 25px;
    width:auto;
}

.corp-clients a{
    position: static;
    float:left;
}

    .corp-clients .special-offers {
        margin-top:-8px;
        margin-right: 20px;
    }

.red {
    color: #e24013;
    font-weight:bold;
}

.bold {
    font-weight:bold;
}

.submit-order {
    background: #efefef;
    border-radius: 5px;
    padding:10px;
    margin:0 20px;
}
.submit-order .help{
    display:block;
}
.submit-order .controls{
    margin-top:10px;
}
.submit-order label {
    display:block;
    line-height: 20px;
}

.submit-order input {
    width: 170px;
    padding: 0 3px;
    height: 30px;
    line-height:30px;
}

.submit-order .submit{
    display: block;
    text-align: center;
    border:none;
    border-radius: 5px;
    color:#fff;
    height:50px;
    line-height: 50px;
    text-shadow: 1px 1px 1px #999;
    font-size:18px;
    width: 178px;
    margin-top: 10px;
    cursor: pointer;
    background: #f3af00;
    background: -moz-linear-gradient(top,  #f3af00 0%, #fe7300 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3af00), color-stop(100%,#fe7300));
    background: -webkit-linear-gradient(top,  #f3af00 0%,#fe7300 100%);
    background: -o-linear-gradient(top,  #f3af00 0%,#fe7300 100%);
    background: -ms-linear-gradient(top,  #f3af00 0%,#fe7300 100%);
    background: linear-gradient(to bottom,  #f3af00 0%,#fe7300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3af00', endColorstr='#fe7300',GradientType=0 );

}

.help-box{
    margin-left: 7px;
}

.help-box .tipsy-inner {
    font-size:14px !important;
}

.main-paginator .pagination {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-paginator .pagination > li {
    display: inline-block;
    font-family: Arial;
}

.main-paginator .pagination > li > a {
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 26px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
}

.main-paginator .pagination > li > span {
    font-size: 17px;
    color: #000;
    display: block;
    width: 26px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    font-weight: normal;
    background: url(/images/paginator.png) no-repeat;
}

.ribbon.ribbon-sm {
    font-size: 16px;
    background: url(/images/search/search-head-bg.png) repeat-x;
    height: 27px;
    margin: 0 10px;
    display: block;
    line-height: 20px;
}
.ribbon.ribbon-sm:after {
    background: url(/images/search/search-head-right.png) no-repeat;
    width: 10px;
    height: 31px;
    right: -10px;
}
.ribbon.ribbon-sm:before {
    background: url(/images/search/search-head-left.png) no-repeat;
    width: 10px;
    left: -10px;
    height: 31px;
}
.main-menu {
    width: auto;
    margin:0;
    padding:0;
    list-style: none;
    *zoom:1;
}

.main-menu:after {
    content: "";
    display: table;
    clear:both;
}


.main-menu.ribbon-sm {
    margin-left: 15px;
    margin-right: 26px;
}
.main-menu > li{
    display: block;
    float:left;
    text-indent: 0;
    padding: 5px 10px 0;
    line-height: 20px;
    font-family: arial;
}

.main-menu > li.pull-right {
    float: right;
}

.main-menu > li.pull-right .el-btn {
    font-size: 12px;
    vertical-align: top;
    vertical-align: top;
    margin-top: -3px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.main-menu > li a{
    color:#333;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.ribbon.ribbon-sm.purple {
    background: url(/images/news/news-bg.png);
}
.ribbon.ribbon-sm.purple:after {
    background: url(/images/news/news-right-bg.png);
}
.ribbon.ribbon-sm.purple:before {
    background: url(/images/news/news-left-bg.png);
}

.new-block {
    text-indent: 0;
    z-index: 0;
}
.new-block.ribbon-sm {
    margin-left: 15px;
    margin-right: 26px;
}
.news-label {
    float:left;
    padding-left: 10px;
    line-height: 26px;
}
.news-swiper {
    float: right;
    width: 90%;
    font-size: 12px;
    line-height: 26px;
}
.news-swiper li {
    line-height: 26px;
    position: relative;
    text-indent: 25px;
}
.news-swiper li:before {
    content: '';
    display: block;
    width:21px;
    height: 24px;
    background: url(/images/news/news-icon.png);
    position: absolute;top:0;left: 0px;
}
.modal {
    z-index: 9999;
}

.sort-item {
    margin: -20px 0 0;
}

.item-title-category {
    float: left;
}

.clearfix:after {
    content: '';
    display: table;
    font-size: 0;
    height: 0;
    clear: both;
}

.contact-info {
    font-family: 'Arial';
    width: 660px;
    margin: 25px 0 0 410px;
    font-size: 16px;
}

.contact-info td {
    width: 450px;
}

.contact-info td:first-child {
    width: 200px;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 93%;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
}

.static-page .content {
    color: #37383c;
    font-size: 14px;
    line-height: 1.3;
    padding: 20px;
}
.static-page .content a{
    color: #37383c;
    text-decoration: underline;
}

.static-page .content p{
    margin: 10px 0;
}

.static-page .article-container {
    padding: 0 30px;
}

/* Таблица опций для подарка */
table.price_choose{
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
table.price_choose td{
    padding: 5px;

    background: #efefef;
}
table.price_choose td.td-first{
    width: 40px;
    text-align: center;
}
table.price_choose td.td-second{
    width: 260px;
}
table.price_choose td.td-third{
    width: 146px;
    text-align: right;
}