* {
    margin: 0px;
    padding: 0px;
}
input.error, textarea.error, textarea.error, legend.error, select.error{

}
html, body {
    height: 100%;
    font:normal 14px/1.3 Arial, Helvetica, sans-serif;
    position: static;
    min-width: 1200px;
}
a, a:active, a:link, a:focus, a:visited{
    color:#ff8b09;
    outline: 0;
}
a:hover{
    color:#fca442;
}

ul {
    padding: 0;
    margin: 0;
}
body {
    color: #505050;
    background-image: url(/img/new_design/all_fon_bgr.jpg);
    background-repeat: repeat;
}


.top_linres {
    background-color: #ad00b2;
    height: 9px
}

.top_linres > span {
    background-color: #eb0089;
    width: 190px;
    height: 9px;
    margin: 0 auto;
    display: block;
}

.blk1 {
    background: url(/img/new_design/blk_1_bg.jpg) no-repeat center;;
    background-size: cover;
    height: 183px;
}

.page {
    width: 1100px;
    margin: 0 auto
}

.blk1 .new-logo {
    float: left;
    font-size: 16px;
    color: #f1652b;
    font-style: italic;
    font-weight: bold;
    width: 283px;
    text-align: center;
    margin: 5px 0 0 10px
}
.blk1 .new-logo img{
    padding-bottom: 5px;
}

.blk1 .right_blk {
    width: 135px;
    text-align: center;
    float: right;
    padding: 7px 0 0 0;
    margin: 0;
}

.blk1 .right_blk .activation {
    display: block;
    background: url(/img/new_design/activation.png) no-repeat top left;
    width: 99px;
    height: 65px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    margin: 0 auto;
    padding: 35px 0 0 0;
}

.blk1 .right_blk div {
    text-align: center;
    color: #4f4f4f;
    font-size: 16px
}

.blk1 .right_blk div a {
    text-transform: uppercase
}

.blk1 .right_blk div a:hover {
    /*color: #F00*/
}

.blk1 .phone_blk {
    float: left;
    width: 640px;
    margin: 0 0 0 25px;
    position: relative;
}

.blk1 .phone_blk .phone {
    padding: 24px 0 0;
}

.blk1 .phone_blk .phone img {
    vertical-align: middle;
}

.blk1 .phone_blk .phone span {
    font-size: 17px;
    color: #4f4f4f;
    font-weight: bold;
    margin: 0 15px 0 0
}

.blk1 .phone_blk .adress_blk {
    overflow: hidden;
    margin: 15px 0 0 0
}

.blk1 .phone_blk .adress_blk .job_time {
    float: left;
    overflow: hidden;
    width: 220px;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.3;
}

.blk1 .phone_blk .adress_blk .job_time img {
    vertical-align: middle;
    float: left;
    margin: 10px 10px 0 0
}
.blk1 .phone_blk .adress_blk .job_time.time{
	line-height: 1.3;
	width: 190px;
}

.blk1 .phone_blk .adress_blk .my_kabinet img {
    float: none;
    margin: 0 10px
}

.blk1 .phone_blk .adress_blk .my_kabinet .registr {
    margin: 5px 0 0 0
}

.blk1 .phone_blk .adress_blk .my_kabinet .registr a {
    color: #333333;
    font-weight: bold;
    text-decoration: none
}

.blk1 .phone_blk .adress_blk .my_kabinet .registr .goin {
    background-image: url(/img/new_design/goin_btn.png);
    width: 61px;
    height: 28px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 5px 0 0 0
}

.big_line {
    background-color: #fb9c06;
    height: 8px;
}

.top-menu {
    background-image: url(/img/new_design/top_menu_bgr.png);
    height: 76px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -65px 0 0 0;
    text-align: center
}

.top-menu .page {
    padding: 11px 0 0 0
}

.top-menu a {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
    float: left;
    line-height: 52px;
    height: 52px;
}
.top-menu a.item0{
    width: 166px;
    margin-left: 5px;
}
.top-menu a.item1{
    width: 119px;
}
.top-menu a.item2{
    width: 179px;
}
.top-menu a.item3{
    width: 119px;
}
.top-menu a.item4{
    width: 243px;
}
.top-menu a.item5{
    width: 152px;
}
.top-menu a.item6{
    width: 105px;
}

.top-menu span {
    background: url(/img/new_design/menu_line.jpg) no-repeat right center;
    width: 1px;
    height: 52px;
    float: left;
}

.top-menu a:hover,
.top-menu a.active {
    background: url(/img/new_design/top_menu_hover.jpg) repeat-x;
}

.content.page {
    /*margin: -13px auto 25px auto;*/
    margin: -13px auto 0 auto;
    background-color: #FFF;
    padding: 0;
}

.content > .cont_blk1 {
    overflow: hidden;
    width: 100%;
    height: 280px;
}

.content > .cont_blk1 > .left {
    float: left;
    width: 360px;
    overflow: hidden;
    height: 277px;
}

.content > .cont_blk1 > .right {
    float: right;
    width: 740px;
    overflow: hidden;
    box-shadow: 0 3px 3px #b6b6b6;
    height: 277px;
}

.content > .cont_blk2 {
    padding: 20px 0;
    overflow: hidden
}


.content > .cont_blk2  > .left {
    float: left;
    width: 360px;
    height: inherit;
    overflow: hidden;
}

.content > .cont_blk2 > .right {
    float: right;
    width: 735px;
    padding: 0;
    height: inherit;
    overflow: hidden;
}
.content > .cont_blk2 > .right > main{
    padding: 0 5px 0 0;
}


/* товар */

.item-title-category{
    float: none;
    clear: both;
    padding: 0 0 20px 30px;
    margin: 0;
    color: #333;
}
.sort-item{
    overflow: hidden;
    color: #ff8b09;
    margin: 5px 25px 0 0;
    line-height: 28px;
    height: 28px;
    width: auto;

}
.sort-item .sort-item-price,
.sort-item .show-item-count{
    margin: 0;
}
.sort-item a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.gift.list ~ p{
    color:#f77b2b;
    font-size: 12px;
    padding-left: 30px;
}
.gift.list {
    clear: both;
    padding: 0;
    margin: 0;
    margin-left: -30px;
}
.gift.list > .item {
    width: 319px;
    padding-left:5px;
    height: 270px;
    overflow: hidden;
    margin: 0 0 30px 50px;
}
.gift.list >.item .ribbon {
    background: url(/img/new_design/tov_plaska.jpg) repeat-y;
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 0;
    border: none;
    box-shadow: none;
}
.gift.list>.item .ribbon > span {
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
    height: 38px;
    padding: 0;
    text-indent: 0;
    border: none;
}
.gift.list>.item .description {
    color: #606265;
    line-height: 16px;
    margin: 10px 0;
    font-size: 12px;
    padding: 20px 2px 0 0;
    overflow: hidden;
    height: 145px;
    position: relative;
    float: right;
    width: 158px;
}

.gift.list>.item .description .price{
    position: absolute;
    right: 4px;
    bottom: 0px;
    color: #DF3D28;
    font-weight: bold;
    font-size: 14px;
}

.gift.list>.item.discount .description .price{
    text-decoration: line-through;
}

.gift.list >.item .description:after {
    background: none;
}
.gift.list .ribbon:before,
.gift.list .ribbon:after {
    display: none;
}
.label.new {
    z-index: 2;
    left: -6px;
    top: 14px;
}
.label.discount {
    z-index: 2;
    left: -6px;
    top: 14px;
}
.label.season {
	left: 85px;
	bottom: -5px;
	background: url("/images/off.png") no-repeat transparent;
	background-position: center;
	border-radius: 40px;
	color: #FFFFFF;
	font-size: 15px;
	height: 50px;
	padding-top: 25px;
	line-height: 13px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.506);
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	width: 80px;
	z-index: 600;
}
.gift-left .label.season{
	left: 165px;
	top: 195px;
}
.gift.list>.item .info {
    position: relative;
    margin: 10px 0 0 0;
}
.gift.list>.item .info >.img {
    box-shadow: none;
}
.gift.list>.item .info >.img img {
    position: absolute;
    z-index: 2;
    top: 38px;
    left: 12px;
    width: 130px;
    height: 130px;
}
.gift.list >.item .info >.img:after {
    background-image: url(/img/new_design/tov_ico_obl.jpg);
    top: 0px;
    left: 0;
    width: 154px;
    height: 171px;
}
/*.gift.list >.item .info >.price {
    bottom: -38px;
    right: 7px;
    width: 210px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #c3c3c3;
    border-radius: 10px;
    padding: 6px 0;
    line-height: 23px;
}*/

.gift.list >.item .info > .price{
    bottom: -38px;
    right: 7px;
    width: 200px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #c3c3c3;
    border-radius: 10px;
    padding: 6px 0;
    line-height: 23px;

}
.gift.list>.item.discount .info>.price{
    text-decoration: none;
}
.gift.list >.item .info > .price > a{
    color:#fff;
    text-decoration: none;
}

.gift.list>.item>.footer {
    background: none;
    overflow: hidden;
    border-radius: 6px;
    margin: 0 5px;
    width: 315px;
}
.gift.list>.item>.footer>.buy-button {
    top: 0;
    right: 2px;
    z-index: 201;
    display: block;
    width: 100px;
    height: 20px;
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 6px 0;
    margin: 5px 0 0 0;
}

.gift.list>.item>.footer>.buy-button:hover,
.gift.list >.item .info > .price:hover
{
    box-shadow: 0 0 5px #95BB27;
}

/* новая цена */
.gift.list>.item .info .label.price{
    left:6px;
    bottom: -5px
}

main table.text-head-green{
    color:#fff;
    margin-top: 20px;
}
main .pack-sum,
main .pack-sum #total-price{
    color: #ff8b09;
}
#buy-form .item-description,
#buy-form .item-footer{
    width: 490px;
}
#buy-form .item-preview img{
    margin: auto;
}
/* пагинация */
.main-paginator .pagination > li {
    vertical-align: top;
}
.main-paginator .pagination > li > a {
    font-size: 14px;
    color: #f77b2b;
    text-decoration: none;
    display: block;
    width: 26px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
}
.main-paginator td div {
    white-space: nowrap;
}
.pagination table {
    width: auto;
    font-size: 14px;
}
.pagination a {
    color: #f77b2b;
    font-size: 14px!important;
    font-weight: bold;
}
.main-paginator .pagination>li>a {
    display: block;
    width: 26px;
    height: 23px;
}
.main-paginator td div > a{
    font-weight: normal;
}
.main-paginator .pagination>li>a:hover {
    background: url(/images/paginator.png) no-repeat;
}
.main-paginator .pagination>li>span {
    color: #f77b2b;
    font-weight: bold;
    font-size: 14px;
}

/* каталог товара раскрытый */
.article.catalog-item .add-to-kit-cart{
    position: absolute;
    right: 130px;
    top: -5px;
    background: #ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    box-shadow: none;
    border: 0;
    margin-bottom: 5px;
    border-radius: 4px;
    display: inline-block;
    line-height: 2;
    padding: 4px 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
    color:#fff;
    text-decoration: none;
}

.article.catalog-item .info-bar.two{
    width: 180px;
    padding: 10px;
    margin: 0 auto;
    background: #EFEFEF;
    color:#5B5B5B;
    border-radius: 5px;
}
.article.catalog-item .info-bar.two ul{
    margin: 10px 0 0;
}
.article.catalog-item .info-bar.two ul li{
    padding-bottom: 10px;
}


.article.catalog-item .info-bar.one{
    background: url(/img/new_design/info-bar.jpg) no-repeat;
    background-size: contain;
    width: 180px;
    padding: 10px;
    height: 147px;
    margin: 20px auto 0;
    color:#fff
}
.article.catalog-item.type-item .el-btn-bottom{
    overflow: hidden;
    width: 100%;
    clear: both;
    padding: 28px 2px 5px 2px;
}
.article.catalog-item.type-item .el-btn-bottom .l{
    float: left;
}
.article.catalog-item.type-item .el-btn-bottom .r{
    float: right;
}
.article.catalog-item.type-item .el-btn.btn-green{
    background:#93ba26;
    background: radial-gradient(circle, #a9d22c, #93ba26);
    border: 0;
    text-shadow:none;
    box-shadow: 0 5px 5px #d9d9d9;
    padding: 6px 28px;
    font-size: 20px;
}
.article.catalog-item.type-item .el-btn.btn-green:hover{
   color:#f6f6f6
}

.article.catalog-item .custom-enumirable>li:before{
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    box-shadow: 0 3px 3px #d9d9d9;
    padding: 1px;
    border-radius: 0;
}
.article.catalog-item.type-item .gray-bg{

}


.article.catalog-item .submit-order .submit{
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    height: 38px;
    line-height: 38px;
    font-size: 22px;
    text-shadow: none;
    box-shadow: 0 5px 5px #d9d9d9;
}
.article.catalog-item .el-btn.btn-orange.want-for-present{
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    box-shadow: none;
    border: 0;
    margin-bottom: 5px;
}

.article.catalog-item .custom-enumirable>li:before{
    /*background: #fec133;*/
}

.article.catalog-item.type-item,
.article.registration-order{
    padding: 0;
    margin: 0;
}

.article.catalog-item.type-item img{
    /*width: 100%;*/
}

.article.catalog-item.type-item .ribbon.big.green,
.article.static-page .ribbon.big.green,
.article.registration-order .ribbon.big.green,
.article.catalog-item.type-group .ribbon.big.green,
.article.thanks .ribbon.big.green{
    background:#93ba26;
    background: radial-gradient(circle, #a9d22c, #93ba26);
    color:#fff;
    border: 0;
    width: 715px;
    text-indent: 12px;
    margin: 0;
    -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    border-radius: 7px; /* CSS3 */
    margin: 25px 0 0 0px;
    box-shadow: 0 5px 5px #d9d9d9;
}
.article.catalog-item.type-item >.content:before,
.article.catalog-item.type-group >.content:before,
.article.static-page >.content:before,
.content.order-form-wrap:before{
    background: none;
}
.article.catalog-item.type-item .ribbon:before,
.article.catalog-item.type-item .ribbon:after,
.article.static-page .ribbon:before,
.article.static-page .ribbon:after,
.article.registration-order .ribbon:before,
.article.registration-order .ribbon:after,
.article.catalog-item.type-group .ribbon:before,
.article.catalog-item.type-group .ribbon:after,
.article.thanks .ribbon:after,
.article.thanks .ribbon:before
{
    background: none;
}

.content.page .article.static-page,
.content.order-form-wrap{
    padding: 0;
}

/* options table */
.catalog-item table.price_choose{
    margin-top: 10px;
    font-size: 15px;
}
.catalog-item table.price_choose tr:nth-child(even) {
    background: #fff
}
.catalog-item table.price_choose tr:nth-child(odd) {
    background: #d8d8d8
}

.catalog-item table.price_choose td{
    padding: 8px 5px;
    background: none;
    vertical-align: middle;
}
.catalog-item table.price_choose td.td-first{
    width: 25px;
    text-align: center;
    background: url(/img/new_design/radiobutton_back.png) no-repeat center;
    position: relative;
}
.catalog-item table.price_choose td.td-second{
    width: 280px;
}
.catalog-item table.price_choose td.td-third{
    width: 126px;
    text-align: right;
}

.catalog-item table.price_choose input:checked + label {
    background:#ff8807;
}
.catalog-item table.price_choose input {
    opacity: 0;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
.catalog-item table.price_choose tr input + label {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    z-index: 1;
}
.gift.list .option-hover{
    position: absolute;
    right:0;
    bottom:35px;
    width: 313px;
    height: 230px;
    z-index: 9999;
    background: #EBEBEB;
    overflow: auto;
    padding: 3px;
    display: none;
    border-radius: 7px;
}
.gift.list .option-hover h2{
    display: none;
}
.gift.list table.price_choose{
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: normal;

}
.gift.list table.price_choose td{
    padding: 2px;
    width: auto;
    background: none;
}

/* форма заказа */
.order-details-kit{
    overflow: hidden;
}
.order-details-kit h2{
    padding-bottom: 10px;
}
.order-details-kit ul{
    overflow: hidden;
}
.order-details-kit ul li{
    float: left;
    width: 167px;
    padding: 10px 3px 3px;
    height: 180px;
    background: #f6f6f6;
    outline: 1px solid #fff;
}
.order-details-kit ul li div.name-item{
    height: 40px;
    text-align: center;
}
.order-details-kit ul li img{
    display: block;
    margin: auto;
}

.order-details-kit .item-footer{
    padding-top: 10px;

}

#buy-form{
    margin: 0 25px 0 10px;
}

footer{
    overflow: hidden;
    margin-bottom: -25px;
}
footer .footer {
    background-color: #ff8c0a;
    overflow: hidden;
}

footer .footer .sent {
    background: url(/img/new_design/podval_bgr.jpg) repeat-y center top;
    padding: 35px 0;
}

footer .footer .sent ul {
    overflow: hidden
}

footer .footer .sent ul li {
    float: left;
    color: #fff;
    width: 365px;
}

footer .footer .sent ul li.item1{
    text-indent: 10px;
}

footer .footer .sent ul li.item2{
    text-indent: 20px;
}

footer .footer .sent ul li * {
    color: #FFF
}

footer .footer .sent ul li a {
    display: block;
    color: #FFF;
    font-size: 16px
}

/* Как купить */
.js-layout-outer{
    width: 720px;

}
.js-layout{
    width: 720px;
}
table.text-head{
    margin-top: 0;
    color:#fff
}
.js-layout-outer .inner .count{
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    box-shadow: 0 3px 3px #d9d9d9;
    margin-top: 5px;
}

.js-layout-outer a.js-arrow-back,
.js-layout-outer .js-arrow.lay-button-01{
    background:#94bb26;
    background: radial-gradient(circle,#aad32c , #94bb26);
    box-shadow: 0 3px 3px #d9d9d9;
    text-decoration: none;
}
.js-layout-outer a.js-arrow-back:hover,
.js-layout-outer .js-arrow.lay-button-01:hover{
    text-decoration: none;
    opacity: 0.9;
}
/*.article.static-page h1.ribbon.big.green{*/
    /*background: none;*/
    /*color:#93b925;*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*border:0*/
/*}*/

table.text-head td.left,
table.text-head td.right
{
   display: none;

}
table.text-head td.center{
    color:#94bb26;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0 0 0;
    background: none;

}

/* галерея */
main .gallery-list>.gallery-item{
    margin: 20px 20px 40px 20px;
    text-decoration: none;
}

main .gallery-view-list{
    margin-top: 20px;
}
main .gallery-view-list a.gallery-preview{
    margin-left: 0px;
}
main .gallery-list>.gallery-item .ribbon.green{
    font-size: 13px;
    font-weight: normal;
    height: 37px;
    padding-top: 2px;
}

/* О подарке */
main .about-gift{
    color:#333;
    font-size: 16px;
    padding-right: 15px;
    line-height: 1.5;
}
main .about-gift > h2{
    font-size: 24px;
    margin-top: 15px;
}

main .about-gift h3{
    height: 43px;
    width: 345px;
    line-height: 43px;
    color:#fff;
    font-size: 16px;
    text-align: center;
    background:#94bb26;
    background: radial-gradient(circle,#aad32c , #94bb26);
    box-shadow: 0 3px 3px #d9d9d9;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 24px;
}
main .about-gift .what-inside > .desc{
    margin-top: 24px;
}
main .about-gift .what-inside ul{
    margin-top: 24px;
    overflow: hidden;
}

main .about-gift .what-inside ul li{
    overflow: hidden;
    text-align: justify;
}

main .about-gift .what-inside ul li .name{
    line-height: 1.2;
    font-size: 18px;
    font-weight: bold;
    color: #ff8806;
    overflow: hidden;
}
main .about-gift .what-inside ul li .name > span{
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    box-shadow: 0 3px 3px #d9d9d9;
    padding: 5px 20px;
    color:#fff;
    float:left;
    margin: 3px 8px 8px 0;
    font-size: 30px;
    font-weight: bold;
}

main .about-gift .what-inside ul li .cont > .left{
    float: left;
    padding: 25px 0 60px 0;
}
main .about-gift .what-inside ul li .cont > .right{
    float: right;
    padding: 25px 0 60px 0;
}
main .about-gift ul li img{
    margin: auto;
    display: block;
}

main .about-gift .what-inside ul li.item0 .cont > .left{
    width: 482px;

}

main .about-gift .what-inside ul li.item0 .cont > .right{
    width: 215px;
    padding-top: 0;
}

main .about-gift .what-inside ul li.item1 .cont > .left{
    width: 50%;
    float: left;
}
main .about-gift .what-inside ul li.item1 .cont > .right{
    width: 50%;
    float: right;
}

main .about-gift .what-inside ul li.item2 .cont > .left{
    width: 500px;
}

main .about-gift .what-inside ul li.item2 .cont > .right{
    width: 200px;
}

main .about-gift .what-inside ul li.item3 .cont > .left{
    width: 50%;
    float: left;
}
main .about-gift .what-inside ul li.item3 .cont > .right{
    width: 50%;
    float: right;
}

main .how-to-buy{
    overflow: hidden;
    text-align: justify;
}
main .how-to-buy .left{
    float: left;
    padding-top: 35px;
    padding-right: 2%;
    width: 48%;
}
main .how-to-buy .right{
    float: right;
    width: 50%;
    padding-top: 35px;
}
main .how-to-buy .right img{
    float: right;
}

main .how-to-buy .left .name{
    color:#f77b2b;
    font-weight: bold;
    margin-bottom: 20px;
}
main .how-to-buy .left .cont{
    margin-bottom: 45px;
}


/* Об элперезнт */

.about-elpresent td.text-main{
    padding: 0;
    color:inherit;
}

.about-elpresent > h2{
    font-size: 24px;
    margin-top: 15px;
}

.about-elpresent .cont{
    overflow: hidden;
    font-size: 14px;
    text-align: justify;
}

.about-elpresent .cont > .left{
    float: left;
    width: 50%;
    padding-top: 15px;
}




.about-elpresent .cont > .right{
    float: right;
    width: 50%;
    padding-top: 15px;
}
.about-elpresent .cont > .left > ul{
    display: block;
    padding-right: 20px;
}

.about-elpresent .cont > .right > ul{
    display: block;
    padding: 0 15px 0 5px;
}

.about-elpresent .cont  li.items .name{
    height: 33px;
    line-height: 33px;
    width: 100%;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 3px 3px #d9d9d9;
    text-align: center;
    margin-bottom: 15px;
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
}
.about-elpresent .cont .right li.item0 .name{
    line-height: 1.1;
    height: auto;
    padding: 4px 0;
}

.about-elpresent .cont  li.items .desc{
    color:#4f4f4f;
    line-height: 1.3;
    padding-bottom: 25px;
}

.about-elpresent .cont  li.items .img{
    margin-bottom: 15px;
}

.about-elpresent .cont > .right li.item0 .name,
.about-elpresent .cont > .right li.item1 .name,
.about-elpresent .cont > .right li.item3 .name,
.about-elpresent .cont > .left li.item1 .name,
.about-elpresent .cont > .left li.item3 .name
{
    background:#94bb26;
    background: radial-gradient(circle,#aad32c , #94bb26);
}

.about-elpresent .cont > .left li.item0 .txt{
    margin-bottom: 30px;
}

.about-elpresent .cont > .left li.item0 .style-txt{
    background: url("/img/new_design/good-service-bg.png") no-repeat top left;
    height: 166px;
    padding: 20px 15px 0;
    color:#fff
}

.about-elpresent .comment-container{
    margin: 0;
    padding-right: 15px;
    font-size: 14px;
    color:#4f4f4f
}
.about-elpresent .comment-container .testimonials{
    border:0
}
.about-elpresent .item-comments hr{
    border:0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #d4ef6d;
    height: 0px;
    width: 0px;
    float:right;
    margin-right: 45px;
}
.about-elpresent .item-comments .clear{
    padding: 5px 0;
}
.about-elpresent .item-comments .fquote{
    background: #d4ef6d;
    width: 608px;
    padding: 15px;
    margin-left: 70px;
    line-height: 1.4;
    border-radius: 5px;
}
.about-elpresent #comments > h2{
    height: 35px;
    line-height: 35px;
    text-indent: 15px;
    color:#fff;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    box-shadow: 0 3px 3px #d9d9d9;
    margin-bottom: 20px;
}

.about-elpresent  .write-button{
    background: url(/img/new_design/review-btn.png) no-repeat;
    width: 169px;
    height: 29px;
    float: right;
    margin: 50px 5px 15px;
}

/* */
a.js-arrow-back.lay-button-04{
    display: none;
}

/*  кнопка вверх */
#back-top {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}
#back-top > a{
    width: 74px;
    height: 70px;
    display: block;
    background: url(/img/new_design/botton-top.png) no-repeat;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

/* kit */

#kit-filters{
    background:#B1D034;
    padding:15px;
    color:#fff;
}
#kit-filters .inputs{
    float:left;
    width: 430px;
}



#kit-filters #slider-range{
    clear: both;
    margin-top: 30px;
}
.jquery-selectbox .jquery-selectbox-list{
    color:#B1D034
}

#cart{
    overflow: hidden;
}
#cart .desc-cart{
    overflow: hidden;
    margin: 10px 0;
    background: #EBEBEB;
    padding:0 5px 0;
}

#cart .desc-cart section{
    overflow: hidden;
    /*display: none;*/
    height: 50px;
    line-height: 50px;
    border-bottom:1px dotted #fff;
    padding-bottom: 5px;
}
#cart .desc-cart section > img{
    float: left;
    width: 50px;
    height: 50px;
}
#cart .desc-cart section > h4{
    width: 480px;
    float: left;
    text-indent: 10px;
}
#cart .desc-cart section > .cart-price{
    width: 120px;
    float: left;
    text-indent: 10px;
}
#cart .desc-cart .cart-delete-item{
    width: 70px;
    height: 50px;
    float: right;
    text-align: center;
    overflow: hidden;
    text-indent: -3000px;
    cursor: pointer;
    color:#ff8b09;
    text-decoration: underline;
    background: url("/img/close.png") no-repeat center;
}
#cart .amount-cat{
    padding: 10px 0;
    overflow: hidden;
}
#cart .amount-cat .count-items-cart{
    float: left;
    width: 280px;
}
#cart .amount-cat .total-cart-price{
    float: left;
    width: 200px;
    text-indent: 10px;
}
#cart .amount-cat .btn-by-cart{
    width: 200px;
    float: right;
    text-align: center;
}

/* Для объявлений */
#announcing{
    width: 200px;
    background-color: #EB0089;
    color:#fff;
    position: fixed;
    top:5px;
    right: 5px;
    z-index: 999999;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 25px #000;
    border: 1px solid #fff;
    /*display: none;*/
}

/* Акции actions*/
.news-and-actions > h1{
    color: #94bb26;
    font-size: 24px;
    margin: 20px 0 0;
}
.news-and-actions > article > h2{
    margin: 20px 0;
    font-size: 18px;
}
.news-and-actions.view > h1{
    margin-left: -20px;
}

.news-and-actions.index > section{
    margin: 20px 15px 0;
    overflow: hidden;
    background:#FFFFBF;
    border-radius: 10px;
    box-shadow: 0 0 1px #B7AEAE;
}
.news-and-actions.index > section div.desc{
    padding: 10px;
    overflow: hidden;
}
.news-and-actions.index > section div.desc img.preview{
    width: 100px;
    padding: 0 5px 5px 0;
    float: left;
    border-radius: 5px;
}
.news-and-actions.index > section  .header{
    background:#94bb26;
    background: radial-gradient(circle,#aad32c , #94bb26);
    padding: 10px;
}
.news-and-actions.index > section  .footer{
    overflow: hidden;
    padding: 10px;
    font-size: 10px;
    font-style: italic;
}

.news-and-actions.index > section .header h3.name{

}

.news-and-actions.index > section .header h3.name > a{
    text-decoration: none;
    font-size: 16px;
    color:#fff
}

.news-and-actions.index > section .footer time{
    float: left;
    width: 85%;
    opacity: 0.8;
}
.news-and-actions.index > section .footer div.more{
    float: right;
    width: 15%;
    text-align: right;
}


.news-and-actions.view{
    margin: 0 20px 0;
}
.news-and-actions.view div.txt ul{
    list-style: circle;
    padding:0 20px 0;
}
.news-and-actions.view div.txt ul li{
    list-style: circle;
}

.news-and-actions.view div.txt p,
.news-and-actions.view div.txt h1,
.news-and-actions.view div.txt h2,
.news-and-actions.view div.txt h3,
.news-and-actions.view div.txt h4{
    margin-bottom: 20px;
}
.news-and-actions.view .footer{
    overflow: hidden;
    margin-top: 20px;
}
.news-and-actions.view .footer time{
    float: left;
    width: 20%;
    font-style: italic;
}
.news-and-actions.view .footer .social-buttons{
    float: left;
    width:15%;
}
.news-and-actions.view .footer a{
    float: right;
    width: 30%;
    text-align: right;
}

a.about-me{
    opacity: 0;
}
/* комментарии на сайте */
.disqus.comments{
    margin: 20px;
}
.disqus.comments > h3{
   color: #3F4549;
   font-size: 18px;
   padding-bottom: 10px;
}