/* баннер-бар вверху */
.widget.slider {
    width: 100%;
    height: 84px;
    position: relative;
    background: #fff no-repeat 50% 50%;
    overflow: hidden;
}
.widget.slider ul li {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 85px;
    overflow: hidden;
}
.widget.slider ul li.show {
    z-index:500;
}

.widget.slider ul li a {
    display: block;
    text-align: center;
    position: relative;
}
.widget.slider ul li img{
    /*width: 100%;*/
    position: absolute;
    left:50%;
    margin-left: -1000px;
    display: block;
}

/* Виджет авторизации */
.widget.profile-widget .registr span{
    cursor: pointer;
}

/* отзывы в шапке сайта*/
.widget.comment{
    height: inherit;
    position: relative;
}
.widget.comment .list_carousel{
	overflow:hidden;
	position:relative;
    height: 168px;
    padding: 0 30px;
    overflow: hidden;
}
.widget.comment .list_carousel ul#foo{
    display: block;
    width: 290px;
    height: 168px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow:hidden;
}
.widget.comment .list_carousel ul#foo > li{
	width: inherit;
    text-align: justify;
    line-height: 1.3;
}

.widget.comment .list_carousel a.foo-buttons{
    position: absolute;
    top: 40%;
    text-decoration: none;
    color:red;
    overflow:hidden;
    text-indent:-3000px;
    cursor:pointer;
    width:11px;
    height:22px;
}
.widget.comment .list_carousel a#prev{
    position: absolute;
    left: 8px;
    background:url(/img/widgets/prev.png) no-repeat;
}
.widget.comment .list_carousel a#next{
    position: absolute;
    right: 8px;
	background:url(/img/widgets/next.png) no-repeat;
}

.widget.comment h3 {
    background-color: #a4cc2a;
    text-align: center;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    padding: 7px 0;
    margin-bottom: 23px;
    box-shadow:  0 3px 3px #dadada;
}

.widget.comment .otziv_btn {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 29px;
    width: 100%;
    bottom:0;
    position: absolute;
    overflow: hidden;
}

.widget.comment .otziv_btn a {
    color: #ff9a15;
    margin: 0 20px 0 0;
}

.widget.comment .otziv_btn a.btn {
    background-image: url(/img/new_design/otziv_btn.jpg);
    width: 159px;
    height: 29px;
    background-repeat: no-repeat;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    line-height: 29px;

}

/* Внутренний слайдер */
.widget.sliderins{
	width:100%;
	overflow:hidden;
	padding:0;
	margin:0;
}

.widget.sliderins ul{
	padding:0;
	margin:0;
	overflow:hidden
}

/* Категории */
.widget.categories{
    width: 350px;
    padding: 0;
    /*outline: 1px solid blue;*/
}
.widget.categories ul{
    padding: 0;
    margin: 0;
}
.widget.categories h2{
    background-image: url(/img/new_design/left_pod_menu.jpg);
    width: 350px;
    background-repeat: repeat-y;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding: 7px 0;
    position: relative;
    box-shadow:  0 3px 3px #aeb0b1;
}
.widget.categories > .wrap{
    margin-top: -13px;
    border: 0;
}

/* социальные кнопки и оплата */
.widget.social-pay{
    overflow: hidden;
    margin-top: 35px;
}
.widget.social-pay .pod_menu_blk {
    /*background: url(/img/new_design/left_pod_menu.jpg) repeat-y;*/
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    width: 322px;
    padding: 15px
}

.widget.social-pay .pod_menu_blk .seti {
    overflow: hidden;
    margin: 0 0 15px 0
}
.widget.social-pay .pod_menu_blk .pay img{
    margin: 0 0 5px 0
}
.widget.social-pay .pod_menu_blk p {
    clear: both;
    color: #FFF;
    margin-bottom: 10px
}

.widget.social-pay .pod_menu_blk .seti a {
    text-decoration: none;
    margin: 0 10px 0 0;
    float: left
}
.widget.social-pay .pod_menu_blk a:hover{
    opacity: 0.9;
}

/* текст на главной в футере */
.seo-main.widget .bottom_content ul {
    padding: 0px;
    text-align: justify;
    overflow: hidden;
    padding: 20px 0;
}

.seo-main.widget .bottom_content ul li {
    float: left;
    list-style: none;
    color: #fff;
    width: 345px
}

.seo-main.widget .bottom_content ul li b {
    display: block;
    margin-bottom: 24px;
}

.seo-main.widget .bottom_content ul li p {
    margin-bottom: 24px
}

.seo-main.widget .bottom_content ul li.sent {
    margin: 0 30px
}

/* Выбор городов */
div.change-city-list{
    width: 100%;
    color:#4f4f4f;

}
div.change-city-list .text-sm{
    font-size: 14px;
}
.change-city-list .select-city{
    cursor: pointer;
    padding: 0 0 0 2px;
    text-transform: uppercase;
    font-size: 14px;
}
.change-city-list ul{
    z-index: 10000;
}
.change-city-list ul li a{
    font-size: 12px;
    color:#4f4f4f;
    text-shadow: 0 0 1px #fff;
}

.categories-list>li:hover>span{
    background: #fff;
}


/*  форма поиска */
.cont_blk2 > .right .search_blk {
    background: url(/img/new_design/search_blk.jpg) repeat-x;
    height: 36px;
    width: 100%;
    overflow: hidden;
    color:#333;
}
.cont_blk2 > .right .search_blk label{
    height: 100%;
    line-height: 36px;
    width: 145px;
    float: left;
    text-indent: 18px;
}
.cont_blk2 > .right .search_blk form{
    width:227px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.cont_blk2 > .right .search_blk form .input-text{
    width: 199px;
    height: 25px;
    line-height: 25px;
    margin-top: 6px;
    padding: 0;
    float: left;
    border: 0;
}
.cont_blk2 > .right .search_blk form .input-btn{
    width: 28px;
    height: 25px;
    line-height: 25px;
    margin-top: 6px;
    padding: 0;
    float: right;
    border: 0;
    background:#fff url(/img/new_design/search_ico.jpg) no-repeat center;
}
.cont_blk2 > .right .search_blk .search-head{
    background: none;
    width: 321px;
    float: right;
    height: 100%;
    line-height: 36px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    color:#333
}
#search-widget{
    padding: 0;
    margin: 0;

    color:#333;
}
#search-widget h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 15px;
}
#search-form th{
    color:#333;
}
#search-widget .search-content{
    background: none;
}
#search-widget .widget-body-left,
#search-widget .widget-body-right,
#search-widget .widget-body-bottom-center{
    background: none;
}
#search-widget .widget-body-bottom-left,
#search-widget .widget-body-bottom-right{
   background: none;
}
#search-widget table.search-body{
    top: 0px;
    background: #dddcdd url(/img/new_design/search-bg.png) repeat-x bottom left;
    color:inherit;
}
#search-widget .right,
#search-widget .left{
     background: none;
     width: 0;
 }
#search-widget  .search-content{
    margin: 0px 10px 0 10px;
    border-top:1px solid #fff;
}

#search-results a{
    color:#333;
    font-weight: bold;
}
th#search-results-header{
    font-weight: 100;
}
#search-results-header > span{
    font-weight: bold;
}

.widget.category-content {
    padding: 0 20px 15px 0;
}

/* Заказ обратного звонка */

.order-call-back-wrap{
    position: absolute;
    right: 0px;
    top:10px
}
.order-call-back-wrap a#fancy-link{
    padding: 5px;
    line-height: 50px;
    background:#94bb26;
    background: radial-gradient(circle,#aad32c , #94bb26);
    color:#fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 5px 5px #DBDBDB;
}
.order-call-back-wrap a#fancy-link:hover{
    /*box-shadow: 0 0 5px #ff8807;*/
}
#order-call-back .landing-form-back-call{
    padding: 10px;
    width: 300px;
}
#order-call-back .landing-form-back-call .box{
    margin-top: 10px;
}
#order-call-back .landing-form-back-call .box.error input{
    border:1px solid red;
}
#order-call-back .landing-form-back-call input{
    width: 100%;
    padding: 0;
    border:1px solid #d9d9d9;
    height: 30px;
    line-height: 30px;
    outline: 0;
}
#order-call-back .landing-form-back-call input[type=submit]{
    background:#ff8807;
    background: radial-gradient(circle,#fec133 , #ff8807);
    color: #fff;
    width: 50%;
    margin: auto;
    display: block;
    border: 0;
    border-radius: 5px;
}

/* пагинация в акциях и новостях actions */
.pagination-news-and-actions{
    margin: 50px auto 0;
    width: 85%;
    font-size: 12px;
}

.pagination-news-and-actions ul.yiiPager a{
    border: 0 !important;
    font-size: 13px;
}

.pagination-news-and-actions ul.yiiPager a:link,
.pagination-news-and-actions ul.yiiPager a:visited{
    color:#ff8807
}

.pagination-news-and-actions ul.yiiPager .hidden a{

}

.pagination-news-and-actions ul.yiiPager .selected a{
    background:#ff8807;
    color:#fff;
    border-radius: 10px;
}