/* Moods */
#mood-conteiner{
    background: #f0f0f0;
    color:#616060;
    /*width: 665px;*/
    margin: 0px auto 0px auto;
}
#mood-conteiner h1 {
    color:#fe581b;
    text-align: center;
}
#mood{
    width: 700px;
    margin: 0px auto 0px auto;
    background: #ffffff;
}
.pointer{
    height: 200px;
    width: 100px;
    background: url(/images/moods/scale.png) no-repeat center;
    cursor:pointer;
    padding-left: 90px;
}
.pointer-1{
    height: 200px;
    width: 100px;
    background: url(/images/moods/scale1.png) no-repeat center;
    cursor:pointer;
    padding-left: 90px;
}
.scale{
    width: 50px;
    text-align: right;
}
.mood-text{
    width: 222px;
    background: url(/images/moods/mood-text-top.png) no-repeat top center;
    padding-top:30px;
    margin-left: 30px;
}
.mood-text-content{
    background: url(/images/moods/mood-text-bg.png) repeat-y 6px;
}
.mood-text-content p{
    position: relative;
    top: -10px;
    font-family: Arial;
    line-height: 2;
    font-size: 12px;
    padding: 0px 15px 0px 20px;
}
.mood-text-bottom{
    width: 100%;
    background: url(/images/moods/mood-text-bottom.png?n=2) no-repeat top center;
    height: 12px;
}
.mood-text-bottom1{
    width: 100%;
    background: url(/images/moods/mood-text-bottom1.png) no-repeat top center;
    height: 12px;
}
.mood-text1{
    width: 222px;
    background: url(/images/moods/mood-text-top1.png) no-repeat top center;
    padding-top:30px;
    margin-left: 30px;
}
.mood-text-content1{
    background: url(/images/moods/mood-text-bg1.png) repeat-y 6px;
}

.profile{

}
.mood-bottom-left,.mood-bottom-right,.mood-top-left,.mood-top-right{
    height: 20px;
    width: 21px;
}
.mood-top-center,.mood-bottom-center{
    height: 20px;
    background: #f0f0f0;
 }
.mood-top-left{
    background: url(/images/moods/top-left.png) no-repeat center;
}
.mood-bottom-left{
    background: url(/images/moods/bottom-left.png) no-repeat center;
}
.mood-bottom-right{
    background: url(/images/moods/bottom-right.png) no-repeat center;
}
.mood-top-right{
    background: url(/images/moods/top-right.png) no-repeat center;
}
.mood-items {
    background:url(/images/moods/mood-gifts.png) no-repeat top center;
    width: 232px;
    padding-top: 47px;
    min-height: 168px;
    margin-left: 30px;
    margin-top: 10px;
}
.mood-items-content{
    width: 208px;
    margin: 0px auto;
    min-height: 120px;
    padding-bottom: 10px;
}
.mood-items-content table tr{
    height: 35px;
}
.mood-items-content table td {
    padding-left: 10px;
    vertical-align: middle;
}
.mood-items a{
    color: #616060;
    text-decoration: underline;
    font-size: 14px;
}
.mood-items a:hover {
    text-decoration: none;
}