html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 100.01%;
}

body {
    line-height: 1;
    background-color: #fff;
    color: #000;
    text-align: left;
    font-size: 75%;
    font-family: Arial, Helvetica, Sans-serif;
}

ol, ul, ol li, ul li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    width: 100%;
    border: none;
}

font {
    color: inherit !important;
    font: inherit !important;
}

a {
    text-decoration: underline;
}

input[type="text"], input[type="password"] {
    font-size: 100%;
    padding: 0;
}

/* main typography */
strong, th, thead td, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

cite, em, dfn {
    font-style: italic;
}

code, kbd, samp, pre, tt, var {
    font-size: 92%;
    font-family: Courier, Monaco, "Lucida Console";
}

var {
    font-size: 92%;
    font-family: Monaco, "Lucida Console", Mono-space;
}

textarea, select, option {
    font-family: Tahoma, Courier, Monaco, "Lucida Console", Mono-space;
    font-size: 100%;
}

input[type="text"], input[type="password"] {
    font-family: Tahoma, Courier, Monaco, "Lucida Console", Mono-space;
    font-size: 100%;
}

del {
    text-decoration: line-through;
    color: #666;
}

ins, dfn {
    border-bottom: 1px solid #ccc;
}

small, sup, sub {
    font-size: 85%;
}

big {
    font-size: 115%;
}

abbr, acronym {
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: 1px;
}

a abbr[title], a acronym[title] {
    color: #000;
    text-decoration: none;
}

a:hover abbr[title], a:hover acronym[title] {
    text-decoration: none;
}

a:hover abbr, a:hover acronym {
    cursor: pointer;
}

abbr[title], acronym[title], dfn[title] {
    cursor: help;
    border-bottom: 1px solid #ccc;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

address a {
    text-decoration: none !important;
    border-bottom: 1px dotted #ccc;
}

/*links*/
a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a abbr[title], a acronym[title] {
    text-decoration: none;
}

a:hover abbr[title], a:hover acronym[title] {
    text-decoration: none;
}

a, a:hover abbr, a:hover acronym {
    cursor: pointer;
}

address a {
    text-decoration: none !important;
    border-bottom: 1px dotted #ccc;
}

address:hover a {
    border: none;
}

/*forms*/
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button, input {
    line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled], input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    /*box-sizing: border-box;*/
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /*box-sizing: content-box;*/
}

/*input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }*/
fieldset {
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

textarea, input[type="text"], input[type="password"], select {
    border: 1px solid #999;
    background: #fff;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover, select:hover {
    border-color: #aaa;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border-color: #888;
    outline: 1px solid #ffa;
}

select, input[type="button"], input[type="submit"] {
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"] {
    cursor: text;
}

input[type="text"]:focus {
    outline: none;
}

input {
    vertical-align: middle;
}

input.error, textarea.error, textarea.error, legend.error, select.error {
    border: 1px solid #c33 !important;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Colors for form validity */
input:valid, textarea:valid {
}

input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

/* CSS 3 */
::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

/*::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/*input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#999;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#999;}
.placeholder {color:#999;}*/

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

/* print version */
@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}

/*Chrome Frame Prompt*/
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}

/* на хуй скайп */
span.skype_pnh_print_container {
    display: inline !important;
}

span.skype_pnh_container {
    display: none !important;
}
