.tipsy { font-size: 10px; position: absolute; padding: 10px 10px 10px 16px; z-index: 10000; }
  .tipsy-inner { background-color: #fff; color: #000; max-width: 340px; padding: 5px 8px 4px 8px; text-align: left; }

  /* Rounded corners */
  .tipsy-inner { padding:10px 20px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;border:solid 1px #ccc;box-shadow: 5px 5px 5px rgba(0,0,0,0.5) }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow {border:none;z-index:100000; position: absolute; width: 17px; height: 28px; line-height: 0; background: transparent url(../images/tipsy-arrow.png); }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -14px; }


.tipsy .description{
    font-size:12px;
    line-height: 1.4;
    text-decoration: underline;
    display: block;
}

.tipsy .header {
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
}

.tipsy .price {
    font-size:14px;
    display: block;
    margin: 10px 0 0;
    color: #dd195b;
}

.like ul {

}