@font-face {
  font-family: "MPLUSFont";
  src: url("fonts/Ubuntu-Regular.ttf");
  src: url("fonts/Ubuntu-Regular.woff") format("woff"),
}

@font-face {
  font-family: "MPLUSFontBold";
  src: url("fonts/Ubuntu-Bold.ttf");
  src: url("fonts/Ubuntu-Bold.woff") format("woff"),
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "MPLUSFont", arial, helvetica, sans-serif;
}
.page {
  background: #ffffff url('bg.png') 0 0 no-repeat;
  background-size: contain;
  width: 750px;
  height: 1060px;
}
.page.page-title {
  background: url('bgOr.png') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}
.page.page-title::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -58px;
  background: url('logoWhite.png') no-repeat 50% 50%;
  /*background: url('logoFirst.png') no-repeat 50% 50%;*/
  width: 400px;
  height: 115px;
  background-size: contain;
}
.page-wrap {
  padding: 40px;
}
.logo {
  background: url('logoWhiteSm.png') 100% 0 no-repeat;
  height: 80px;
  background-size: 230px auto;
  /*background-size: 160px 40px;*/
}
/*.column-set:before,*/
/*.column-set:after {*/
/*  content: '';*/
/*  display: table;*/
/*}*/
/*.column-set:after {*/
/*  clear: both;*/
/*}*/
/*.column-set > .col {*/
/*  box-sizing: border-box;*/
/*  padding-left: 10px;*/
/*  float: left;*/
/*  width: 60%;*/
/*}*/
.col.card-example {
  /*background: url('card.png') no-repeat;*/
  background: url('banner.svg') no-repeat;
  background-size: contain;
  height: 110px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
  line-height: 1.8;
  padding-right: 0 !important;
  text-transform: uppercase;
  /*font-weight: bold;*/
}
.card-example h2 {
  margin-bottom: 0;
  line-height: 1.2;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}
/*.column-set > .col:nth-child(2n+1) {*/
/*  clear: left;*/
/*  width: 40%;*/
/*  padding-left: 0;*/
/*  padding-right: 10px;*/
/*}*/
h1 {
  color: #ff862f;
  text-align: left;
  font-size: 2em;
  margin: 20px 0 40px 0;
  font-family: "MPLUSFontBold";
}
h2 {
  color: #FB6B36;
  font-size: 14px;
  margin: 0 0 4px 0;
  text-transform: uppercase;
  font-family: "MPLUSFontBold";
}
.heading {
  font-size: 1.8em;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
ol {
  list-style: none;
  counter-reset: item;
  padding: 0;
}
ol > li {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 2px 0 2px 20px;
  line-height: 20px;
  position: relative;
}
ol > li + li {
  margin-top: 10px;
}
ol > li:before {
  background: #FBAB36;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-top: -5px;
  content: "";
  counter-increment: item;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 50%;
}
ul {
  list-style: none;
}
ul > li {
  padding-left: 30px;
}
ul > li:before {
  content: "";
  display: inline-block;
  background: #f00;
  width: 15px;
  height: 15px;
  margin-left: -30px;
  margin-right: 15px;
  border-radius: 100%;
}
p {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  /*font-size: 12px;*/
}
.about {
  margin-bottom: 48px;
}
.separate-block {
  margin-top: 48px;
}
p strong {
  color: #FB6B36;
  margin: 0 0 4px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "MPLUSFontBold";
}
.activation-code {
  color: #fff;
  font-size: 3em;
  font-family: arial, helvetica, sans-serif;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 0.15em;
}
.card-example {
  background: url('card.png') no-repeat;
  background-size: contain;
}
.column-set {
  display: flex;
  overflow: hidden;
}
.aside{
  width: 30%;
  box-sizing: border-box;
  float: left;
}
.content{
  box-sizing: border-box;
  padding-left: 50px;
  width: 70%;
  float: left;
}
.should_know h2{
  display: inline-block;
}
.aside-item {
  margin-bottom: 30px;
}
.aside-item h2 {
  margin-bottom: 10px;
}