@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=Open+Sans:ital@1&display=swap');

.landing-wrap {
    margin: auto;
    position: relative;
    overflow: hidden;
    color: #5E5450;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: 'M PLUS 1p', sans-serif;
}
.landing-wrap::before {
    background:linear-gradient(90deg, rgba(250, 102, 54, 1) 0%, rgba(255, 160, 0, 1) 100%);
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 752px;
    clip-path: polygon(0 0%, 100% 0%, 100% 70%, 0% 100%, 0% 0%);
}
.landing-wrap::after {
    background:linear-gradient(90deg, rgba(250, 102, 54, 1) 0%, rgba(255, 160, 0, 1) 100%);
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 678px;
    clip-path: polygon(100% 38%, 100% 0, 100% 100%, 0 100%, 0 10%);
}
.header-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 92px;
    background:linear-gradient(90deg, rgba(250, 102, 54, 1) 0%, rgba(255, 160, 0, 1) 100%);
    z-index: 2;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 55px;
    position: relative;
    z-index: 1;
    max-width: 1280px;
    margin: auto;
}

.header-phone {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFEFD;
    transition: all 0.4s ease-out 0s;
}
.header-phone:focus,
.header-phone:hover {
    text-decoration: underline;
    color: #FFFEFD;
    outline: 0;
}
.nav-landing a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 11px;
    line-height: 28px;
    color: #FEE1D7;
    transition: color 0.4s ease-out 0s;
}
.nav-landing a:hover {
    text-decoration: none;
    color: #FFFEFD;
}
.footer {
    padding: 0 55px;
    z-index: 1;
    position: relative;
    max-width: 1280px;
    margin: auto;
}
.copy {
    font-size: 14px;
    line-height: 18px;
    color: #FFFEFD;
    text-align: center;
    padding: 16px 0 26px 0;
    border-top: 1px solid #fff;
}
.front-block {
    z-index: 1;
    position: relative;
    padding-top: 92px;
}
h1 {
    font-size: 128px;
    line-height: 156px;
    margin: 0;
    font-weight: bold;
    color: #FFFEFD;
}
h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 51px;
    margin: 0 0 24px 0;
    color: #5E5450;
    text-align: center;
}
h3 {
    font-weight: bold;
    font-size: 37px;
    line-height: 51px;
    margin: 0 0 16px 0;
    color: #FFFEFD;
}
h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 12px 0;
    color: #5E5450;
}

.landing-item-inner p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}
.landing-item-inner {
    padding: 120px 55px;
    max-width: 1280px;
    margin: auto;
}
.landing-item.colored.custom-padding .landing-item-inner {
    padding: 63px 55px;
}
.landing-item.colored .landing-item-inner {
    padding: 80px 55px;
}
.landing-item.colored {
    background:linear-gradient(90deg, rgba(250, 102, 54, 1) 0%, rgba(255, 160, 0, 1) 100%);
    color: #FFFEFD;
}

.landing-item.colored h2 {
    color: #FFFEFD;
}
.photo-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photo-wrap > div {
    width: calc(50% - 32px);
}
.photo-wrap .info-wrap {
    max-width: 475px;
    font-size: 18px;
    line-height: 30px;
}
.photo-wrap .info-wrap h2 {
    text-align: left;
}
#reviews .photo-wrap .info-wrap h2 {
    max-width: 270px;
}
.photo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 340px;
}
.photo-item img{
    height: 100%;
    width: auto;
}
.main-info {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #FFFEFD;
}
.landing-btn {
    line-height: 48px;
    padding: 0 32px;
    display: inline-block;
    background: #FFFEFD;
    border-radius: 8px;
    color: #FB6B36;
    font-weight: bold;
    font-size: 24px;
    transition: color 0.4s ease-out 0s;
    text-decoration: none;
    text-align: center;
}
.landing-btn:focus,
.landing-btn:hover {
    color: #FC9772;
    outline: 0;
    text-decoration: none;
}
.main-container {
    position: relative;
    max-width: 560px;
    box-sizing: content-box;
    padding-bottom: 100px;
}
.main-container::before {
    content: "";
    position: absolute;
    left: 500px;
    background: url(/img/landing/box.png) 50% 0 no-repeat;
    height: 720px;
    width: 728px;
    top: -126px;
    background-size: contain;
}
#reviews .photo-item {
    background: url(/img/landing/hand.svg) 50% 0 no-repeat;
    background-size: cover;
    height: 340px;
    max-width: 570px;
    border-radius: 8px;
}

#reviews .landing-item-inner {
    background: url(/img/landing/quotes.svg)  92% 52% no-repeat;
}

#delivery .photo-item {
    background: url(/img/landing/delivery.png) 50% 0 no-repeat;
    background-size: contain;
    max-height: 340px;
    border-radius: 8px;
}

#delivery {
    position: relative;
}
#delivery::before {
    background: url(/img/landing/boxes.svg) no-repeat;
    content: "";
    width: 196px;
    height: 338px;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 0;
}
.advantage-item  {
    text-align: center;
    width: 100%;
    padding: 0 10px 70px 10px;
    box-sizing: border-box;
}
.advantage-row:nth-child(2n) .advantage-item {
    padding-bottom: 0;
}
.advantage-item img {
    margin-bottom: 14px;
}
.advantage-item p {
    line-height: 24px;
    font-size: 14px;
    margin: 0 auto 0;
    max-width: 230px;
}
.advantage-cell {
    display: flex;
    width: 50%;
}

.advantage-row {
    display: flex;
}
.form-wrap {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.form-inner {
    max-width: 670px;
    background: #FFFEFD;
    box-shadow: 10px 10px 24px rgba(98, 89, 86, 0.2), 6px 6px 12px rgba(98, 89, 86, 0.3);
    border-radius: 12px;
    padding: 66px 66px;
}
.policy {
    font-size: 14px;
    line-height: 18px;
    color: #5E5450;
    margin: 8px 0 0 0;
}

.policy a:hover,
.policy a{
    color: #FC895E;
}

.form-inner p {
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #FB6B36;
    margin: 0 0 32px 0;
    font-weight: bold;
}
.form-inner h3 {
    font-size: 48px;
    line-height: 51px;
    text-align: center;
    color: #FB6B36;
    margin-bottom: 0;
}
#contacts h2 {
    margin-bottom: 64px;
}
.clients-wrap {
    margin: auto;
    max-width: 1072px;
}

.clients-wrap .mCSB_container {
    text-align: center;
}
.clients-item {
    margin: 0 20px;
    display: inline-block;
}
.catalog-item h4 {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 24px;
}

.catalog-item img {
    margin: 0 auto 40px;
    width: auto;
    height: 230px;
}

.catalog-item p {
    margin: 0 auto 35px;
    font-size: 14px;
    line-height: 24px;
    max-width: 310px;
}
#catalog h2 ~ p {
    text-align: center;
    max-width: 581px;
    margin: 0 auto 50px;
}
.catalog-item {
    padding: 60px 20px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: all 0.4s ease-out 0s;
    width: 380px;
    opacity: 0.7;
    margin: 0 10px;
}
.catalog-item:hover,
.slick-active.catalog-item {
    border-color: #FB6B36;
    opacity: 1;
}
.primary-btn {
    width: 195px;
    margin: auto;
    height: 36px;
    background: #fff;
    border-radius: 8px;
    color: #FB6B36;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #FB6B36;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.4s ease-out 0s;
    display: inline-block;
    vertical-align: top;
    outline: 0;
}

.primary-btn:hover {
    color: #FFFEFD;
    background: #FB6B36;
    text-decoration: none;
}
.primary-btn:focus {
    color: #FFFEFD;
    background: #FB6B36;
    text-decoration: none;
    outline: 0;
}

.catalog-slider {
    display: flex;
    justify-content: center;
}

.catalog-slider .slick-list {
    overflow: visible;
}

.slick-dots li button:before {
    font-size: 18px;
    color: #FB6B36;
    opacity: 0.2;
}
.slick-dots li {
    margin: 0 12px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #FB6B36;
}
.slick-dots {
     position: static;
    margin: 40px 0 0 0;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.reviews-slider {
    color: #FFFEFD;
    max-width: 430px;
    /*max-width: 476px;*/
}
.reviews-text {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 12px;
}
.reviews-note {
    font-size: 16px;
    line-height: 22px;
}
.reviews-item {
    padding: 0 2px;
}

.reviews-slider .slick-dots li button:before {
    font-size: 8px;
    color: #FFFEFD;
}
.reviews-slider .slick-dots li {
    margin: 0 6px;
    width: 8px;
    height: 8px;
}
.reviews-slider .slick-dots li.slick-active button:before {
    color: #FFFEFD;
}
.reviews-slider .slick-dots {
    position: static;
    margin: 20px 0 0 0;
    text-align: left;
}
.slick-next,
.slick-prev {
    opacity: 0.2;
    width: 11px;
    height: 20px;
    font-size: 0;
}
.slick-next:before,
.slick-prev:before {
    display: none;
}
.slick-next {
    right: 0;
    top: auto;
    background: url(/img/landing/arr-white.svg) 0 0 no-repeat!important;
    background-size: 11px 20px;
    bottom: -10px;
}
.slick-prev {
    background: url(/img/landing/arr-white.svg)  0 0 no-repeat!important;
    background-size: 11px 20px;
    left: auto;
    right: 46px;
    top: auto;
    bottom: 0;
    transform: rotate(180deg);

}
.slick-next:hover,
.slick-prev:hover {
    opacity: 1;
    background: url(/img/landing/arr-white.svg) 50% 50% no-repeat!important;
    background-size: contain;
}

.clients-numbers {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.clients-numbers-item {
    margin:  0 12px;
    width: 280px;
    color: #FFFEFD;
    text-align: center;
}
.numbers-top {
    border-bottom: 1px solid #FFFEFD;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 6px;
}
.clients-numbers-item p {
    font-size: 16px;
    opacity: 0.8;
    line-height: 28px;
    margin-bottom: 0;
}
.btn-primary {
    width: 100%;
    box-shadow:none!important;
    border: 0!important;
    outline: 0!important;
    margin: auto;
    height: 46px;
    background: #FB6B36;
    border-radius: 8px;
    color: #FFFEFD;
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.4s ease-out 0s;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    text-decoration: none;
}
.btn-primary:active:hover,
.btn-primary:hover {
    background: linear-gradient(104.07deg, #FA6535 0%, #FAB135 92.84%);
}
.btn-primary:focus {
    background: #FB6B36;
    color: #FFFEFD;
    text-decoration: none;
}

.btn-primary:active {
    background: linear-gradient(104.07deg, #FA6535 0%, #FAB135 92.84%);
}

.form-control {
    height: 48px;
    font-size: 16px;
    line-height: 28px;
    color: #190B05;
    border: 1px solid #FB6B36;
    box-shadow: none!important;
    border-radius: 8px;
}
.form-control:focus {
    border-color: #FB6B36;
    outline: 0;
    box-shadow: none!important;
}
.form-group {
    margin-bottom: 18px;
}
.contacts-inner {
    margin-left: 130px;
}

.contacts-item {
    margin-bottom: 32px;
}

.contacts-item.color-white p,
.contacts-item.color-white h4{
    color: #FFFEFD;
}
.contacts-item h4 {
    color: #5E5450;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 11px;
}
.contacts-item p {
    color: #5E5450;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.contacts-item a {
    color: #5E5450;
    text-decoration: none;
}

.contacts-item a:hover {
    color: #5E5450;
    text-decoration: underline;
}

.contacts-item.color-white a {
    color: #FFFEFD;
}
.contacts-item.color-white a:hover {
    color: #FFFEFD;
}

.social-inner a {
    margin-right: 16px;
    width: 31px;
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
}
.social-inner a:hover {
    text-decoration: none;
}
.social-inner img {
    width: 100%;
}
.nav-mob {
    display: none;
    cursor: pointer;
    width: 31px;
}
.nav-mob span {
    display: block;
    height: 4px;
    width: 100%;
    margin-bottom: 7px;
    background: #FFFEFD;
    border-radius: 4px;
}
.nav-mob span:last-child {
    margin: 0;
}

#clients h2 {
    color: #FB6B36;
}

.popup-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(251, 107, 54, 0.3);
    display: none;
    margin: 20px;
}
.popup-inner {
   background: #FFFEFD url(/img/landing/check.svg) 50% 70px no-repeat;
    padding: 140px 40px 60px 40px;
    font-size: 16px;
    line-height: 28px;
    color: #5E5450;
    text-align: center;
    border-radius: 12px;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 370px;
}
.close {
    background: url(/img/landing/close.svg) 50% 50% no-repeat;
    position: absolute;
    right: 29px;
    top: 29px;
    width: 13px;
    height: 13px;
}
.nav-landing-mob {
    display: none;
}


@media screen and (max-width: 1200px) {
    #catalog h2 ~ p {
        margin: 0 auto 32px;
    }
    .menu-wrap.open {
        background: rgba(251, 107, 54, 0.3);
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: 2;
    }
    .header-wrap {
        height: 60px;
    }
    .front-block {
        padding-top: 60px;
    }
    .photo-wrap {
        flex-direction: column;
        max-width: 495px;
        margin: auto;
    }
    .photo-wrap > div {
        width: 100%;
    }
    .advantage-item {
        text-align: left;
        padding: 0 10px 24px 52px;
        position: relative;
    }
    .advantage-item img {
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    .advantage-cell {
        width: 100%;
        flex-wrap: wrap;
    }
    .advantage-slider {
        display: flex;
        justify-content: space-between;
    }
    .advantage-row {
        display: flex;
        width: calc(50% - 30px);
        flex-wrap: wrap;
        max-width: 330px;
    }
    .advantage-item p {
        margin: 0;
    }
    .advantage-row:nth-child(2n) .advantage-item {
        margin-bottom: 24px;
    }
    #reviews .photo-wrap .info-wrap h2 {
        max-width:100%;
    }
    .photo-item {
        margin-bottom: 32px;
    }
    #reviews .landing-item-inner {
        background: transparent;
    }
    .photo-wrap .info-wrap h2 {
        text-align: center;
    }
    .landing-item-inner p {
        text-align: center;
    }
    h1 {
        font-size: 100px;
        line-height: 110px;
    }
    h3 {
        font-size: 29px;
        line-height: 38px;
    }
    .main-info {
        margin-bottom: 32px;
    }
    .landing-btn {
        font-size: 16px;
        width: 170px;
        padding: 0;
        line-height: 36px;
    }
    .main-container {
        padding-bottom: 0;
    }
    .landing-item-inner {
        padding: 80px 40px;
    }
    #main .landing-item-inner {
        padding: 0 40px 40px 40px;
    }
    .advantage-item p {
        text-align: left;
        font-size: 14px;
        line-height: 24px;
    }
    .landing-wrap::before {
        height: 438px;
    }
    .landing-wrap::after {
        height: 830px;
    }
    .main-container::before {
        height: 470px;
        width: 470px;
        top: -10px;
    }
    .advantage-item img {
        max-width: 36px;
    }
    h4 {
        margin: 0 0 4px 0;
    }
    .photo-wrap .info-wrap {
        max-width: 100%;
    }
    .clients-wrap {
        margin: 0 -40px;
    }
    .clients-numbers {
        flex-direction: column;
        align-items: center;
    }
    .clients-numbers-item {
        margin: 21px 0;
        width: auto;
    }
    .form-wrap {
        flex-direction: column;
    }
    .form-inner {
        max-width: 100%;
        width: 100%;
        padding: 40px 90px;
        margin-bottom: 56px;
    }
    .contacts-inner {
        margin-left: 0;
        width: 100%;
    }
    .contacts-item p {
        text-align: left;
        color: #FFFEFD;
    }
    .contacts-item a,
    .contacts-item a:hover {
        color: #FFFEFD;
    }
    .contacts-inner {
        display: flex;
        justify-content: space-between;
    }
    .contacts-row {
        max-width: 260px;
    }
    .contacts-item h4 {
        color: #FFFEFD;
    }
    .form-wrap {
        margin-bottom: 0;
    }
    .header-phone {
        display: none;
    }
    .nav-landing {
        display: none;
    }
    .nav-landing-mob {
        display: block;
        position: fixed;
        background: #fff;
        padding: 30px 60px;
        right: -380px;
        width: 370px;
        top: 60px;
        bottom: 0;
        box-sizing: border-box;
        z-index: 3;
        transition: all 0.4s ease-out 0s;
    }
    .nav-landing-mob.open {
        right: 0;
    }
    .nav-landing-mob a:hover,
    .nav-landing-mob a {
        display: block;
        line-height: 40px;
        margin: 0;
        border-bottom: 1px solid #FC895E;
        color: #FC895E;
        font-weight: 400;
    }
    .nav-mob {
        display: block;
    }
    .header {
        padding: 17px 40px;
        z-index: 2;
    }
    .landing-item.colored .landing-item-inner {
        padding: 60px 40px;
    }
    .footer {
        padding: 0;
    }
    .copy {
        padding: 16px 40px 40px 40px;
    }
}

@media screen and (max-width: 1117px) {
    .catalog-slider {
        width: 380px;
        margin: auto;
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .advantage-row {
        max-width: 100%;
    }
    .landing-item-inner .advantage-item p {
        max-width: 100%;
        margin-bottom: 0;
    }
    .advantage-slider .slick-dots {
        margin: 0;
    }
    .advantage-slider {
        display: block;
        max-width: 320px;
        margin: auto;
    }
    .landing-wrap::after {
        height: 1100px;
    }
    .form-inner {
        padding: 25px;
        margin-bottom: 48px;
    }
    .btn-primary {
        font-size: 18px;

    }
    #contacts h2 {
        margin-bottom: 18px;
    }
    .clients-numbers-item {
        margin: 0;
    }
    .clients-numbers-item p {
        margin-bottom: 12px;
    }
    .landing-item.colored .landing-item-inner {
        padding: 29px 20px;
    }

    .clients-wrap {
        margin: 0 -20px;
    }

    .photo-wrap > div {
        width: 100%;
    }

    .advantage-item {
        text-align: left;
        padding-bottom: 0;
        margin-bottom: 26px;
    }

    .photo-wrap .info-wrap {
        max-width: 100%;
    }

    .header {
        padding: 17px 20px;
    }

    .footer {
        padding: 0 20px;
    }

    .landing-item-inner {
        padding: 40px 20px;
    }

    #main .landing-item-inner {
        padding: 0 20px 145px 20px;
    }

    h1 {
        font-size: 72px;
        line-height: 80px;
    }

    h2 {
        font-size: 22px;
        line-height: 36px;
        margin: 0 0 16px 0;
    }

    h3 {
        font-size: 21px;
        line-height: 36px;
        margin-bottom: 8px;
    }

    .main-info {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 24px;
    }

    .landing-btn {
        width: 100%;
    }

    .main-container {
        max-width: 100%;
    }

    .main-container::before {
        display: none;
    }

    .landing-wrap::before {
        height: 460px;
        clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 80%, 0% 0%);
    }

    .photo-item {
        margin-bottom: 16px;
    }

    .photo-wrap {
        max-width: 100%;
    }

    .reviews-slider {
        max-width: 100%;
    }

    .reviews-text {
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .reviews-note {
        font-size: 12px;
        line-height: 19px;
    }

    .reviews-slider .slick-dots {
        margin: 16px 0 0 0;
    }

    .landing-item-inner p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    .slick-dots {
        position: static;
        margin: 32px 0 0 0;
    }

    .catalog-slider {
        width: 100%;
    }

    .catalog-slider .slick-list {
        overflow: hidden;
    }

    .catalog-item {
        padding: 0;
        border: 0;
    }

    .catalog-item h4 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .catalog-item p {
        margin-bottom: 16px;
    }

    #delivery .photo-item {
        height: 200px;
        min-height: auto;
    }

    .clients-numbers-item p {
        font-size: 14px;
        line-height: 24px;
    }

    .clients-numbers {
        margin-top: 24px;
    }

    .form-inner h3 {
        font-size: 26px;
        line-height: 40px;
    }

    .form-inner p {
        font-size: 16px;
        line-height: 28px;
    }
    .contacts-inner {
        flex-direction: column;
        align-items: center;
    }
    .contacts-row {
        max-width: 200px;
        width: 200px;
        text-align: center;
    }
    .contacts-item p {
        text-align: center;
    }
}
@media screen and (max-width: 400px) {
    .landing-wrap::before {
        height: 540px;
    }
    .nav-landing-mob {
        position: fixed;
        background: #fff;
        padding: 30px 60px;
        right: -380px;
        width: 100%;
        top: 60px;
        bottom: 0;
        box-sizing: border-box;
        z-index: 3;
        transition: all 0.4s ease-out 0s;
    }
}

/*old 1111111*/

@media (min-width: 1200px) {
    /* line 12, ../scss/base/_base.scss */
    .container {
        width: 980px;
    }
}
/* line 22, ../scss/base/_base.scss */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/* line 29, ../scss/base/_base.scss */
.col-xs-5ths {
    width: 20%;
    float: left;
}
.only_desc{
    display: none;
}
@media (min-width: 768px) {
    /* line 35, ../scss/base/_base.scss */
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .only_desc{
        display: inline;
    }
    .only_mob{
        display: none;

    }
}
@media (min-width: 992px) {
    /* line 42, ../scss/base/_base.scss */
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    /* line 49, ../scss/base/_base.scss */
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
/* line 55, ../scss/base/_base.scss */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

/* line 60, ../scss/base/_base.scss */
.clearfix:after {
    clear: both;
}

/* line 64, ../scss/base/_base.scss */
.clearfix {
    zoom: 1;
}

/* LAYOUTS - Page layout styles */
/* line 1, ../scss/layouts/_header.scss */
.navigation {
    background: url(/img/landing/orange-bg.jpg) top left repeat;
}

/* line 5, ../scss/layouts/_header.scss */
.navigation-list {
    float: left;
}

/* line 9, ../scss/layouts/_header.scss */
.navbar-toggle {
    background: #3c3640;
    margin-top: 17px;
}

/* line 14, ../scss/layouts/_header.scss */
.navbar-toggle .icon-bar {
    background: #fff;
}

/* line 18, ../scss/layouts/_header.scss */
.navigate {
    margin-top: 28px;
    margin-left: 10px;
}

/* line 22, ../scss/layouts/_header.scss */
.navbar {
    border-radius: 0;
}

/* line 26, ../scss/layouts/_header.scss */
.navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    margin-right: 9px;
    padding: 0;
}

/* line 34, ../scss/layouts/_header.scss */
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background: transparent;
}

/* line 39, ../scss/layouts/_header.scss */
.navbar-brand {
    height: auto;
    padding: 9px;
}

/* line 44, ../scss/layouts/_header.scss */
.navbar {
    margin-bottom: 0;
}

/* line 50, ../scss/layouts/_header.scss */
ul.nav-phone {
    margin-top: 18px;
}

/* line 54, ../scss/layouts/_header.scss */
ul.nav-phone li {
    line-height: 1;
    margin-left: 13px;
    color: #fff;
    font-size: 14px;
}

/* line 61, ../scss/layouts/_header.scss */
ul.nav-phone li span {
    font-size: 17px;
    font-weight: bold;
}

/* line 66, ../scss/layouts/_header.scss */
ul.nav-phone li img {
    position: relative;
    top: 3px;
}

/* line 71, ../scss/layouts/_header.scss */
ul.nav-phone li.phone-margin {
    margin: 0;
}

/* line 75, ../scss/layouts/_header.scss */
.head-bg {
    background: url(/img/landing/head-bg.jpg) top left repeat;
    overflow: hidden;
}

/* line 80, ../scss/layouts/_header.scss */
.head-img {
    margin-top: 80px;
    position: relative;
    right: 32px;
}

/* line 1, ../scss/layouts/_footer.scss */
.footer-navigation {
    background-color: #3c333e;
}

/* line 5, ../scss/layouts/_footer.scss */
.footer-copyright {
    color: #fff;
    margin-top: 15px;
}

/* line 10, ../scss/layouts/_footer.scss */
ul.navigate-footer {
    margin-top: 15px;
}

/* line 14, ../scss/layouts/_footer.scss */
.navbar-toggle-footer {
    margin-top: -10px;
    background-color: #fff;
}

/* line 19, ../scss/layouts/_footer.scss */
.navbar-toggle-footer .icon-bar {
    background: #3c333e;
}

/* line 23, ../scss/layouts/_footer.scss */
ul.nav-phone-footer {
    margin-top: 9px;
    margin-left: 15px;
}

/* line 3, ../scss/layouts/_page.scss */
.block-1 {
    margin-top: 68px;
}

/* line 10, ../scss/layouts/_page.scss */
.ico-list {
    margin: 30px 0;
}

/* line 14, ../scss/layouts/_page.scss */
.block-2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

/* line 22, ../scss/layouts/_page.scss */
.block-2 li {
    display: inline-block;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    margin: 12px 20px;
}

/* line 29, ../scss/layouts/_page.scss */
.block-2 li img {
    margin-right: 10px;
    position: relative;
    bottom: 4px;
}

/* line 38, ../scss/layouts/_page.scss */
.block-3-img {
    margin: 34px 0 46px 0;
}

/* line 42, ../scss/layouts/_page.scss */
.block-2-title {
    position: relative;
    bottom: 20px;
}

/* line 50, ../scss/layouts/_page.scss */
.block-4 {
    padding-top: 60px;
    background: url(/img/landing/white-bg.jpg) top left repeat;
}

/* line 55, ../scss/layouts/_page.scss */
.list-center {
    margin: 35px;
}

/* line 59, ../scss/layouts/_page.scss */
.center {
    text-align: center;
}

/* line 63, ../scss/layouts/_page.scss */
.list-center {
    text-align: center;
}

/* line 67, ../scss/layouts/_page.scss */
.list-center ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}

/* line 73, ../scss/layouts/_page.scss */
.list-center li {
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
}

/* line 80, ../scss/layouts/_page.scss */
.list-center span {
    margin-right: 18px;
}

/* line 86, ../scss/layouts/_page.scss */
.brown-bg {
    background: url(/img/landing/brown-bg.jpg) top left repeat;
    margin-top: 24px;
}

/* line 91, ../scss/layouts/_page.scss */
.block-5-title {
    margin-top: 60px;
    height: 68px;
}

/* line 96, ../scss/layouts/_page.scss */
.block-5-title p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
    color: #fff;
}

/* line 104, ../scss/layouts/_page.scss */
.button-margin-bottom {
    margin-bottom: 45px;
    text-align: center;
    margin-top: 40px;
}

/* line 112, ../scss/layouts/_page.scss */
.orange-bg {
    background: url(/img/landing/footer-bg.jpg) top left repeat;
    border-top: 1px solid #ffbd81;
}

/* line 117, ../scss/layouts/_page.scss */
.bl-6-margin {
    margin-top: 72px;
    margin-bottom: 35px;
    position: relative;
    left: 5px;
}

/* line 124, ../scss/layouts/_page.scss */
.block-6-text {
    margin-top: 72px;
    margin-right: 30px;
    text-align: right;
}

/* line 130, ../scss/layouts/_page.scss */
.block-6-text p {
    font-size: 24px;
    font-family: "PT Sans", sans-serif;
    color: #fff;
    text-align: left;
    margin-left: 28px;
    line-height: 1.3;
    margin-top: 64px;
}

/* line 141, ../scss/layouts/_page.scss */
.block-7, .block-2 {
    background: url(/img/landing/brown-bg.jpg) top left repeat;
}

/* line 145, ../scss/layouts/_page.scss */
.block-7 img {
    margin: 88px 0;
    width: 100%;
}

/* line 153, ../scss/layouts/_page.scss */
.brand-item img {
    width: 100%;
}

/* line 157, ../scss/layouts/_page.scss */
.beige-bg {
    background: url(/img/landing/beige-bg.jpg) top left repeat;
    /*margin-top: 24px;*/
}

/* line 162, ../scss/layouts/_page.scss */
.callback-block {
    max-width: 350px;
    width: 0 auto;
    text-align: center;
    background: rgba(253, 253, 253, 0.6);
    margin-top: 36px;
    margin-left: 15%;
    padding: 20px 30px;
    border-radius: 19px 19px 0 0;
    border-right: 1px solid #a1a1a1;
}

/* line 174, ../scss/layouts/_page.scss */
p.callback-title {
    color: #ef7b23;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 12px;
}

/* line 183, ../scss/layouts/_page.scss */
.callback-block .form-control {
    border: none;
    border-radius: 6px;
    box-shadow: none;
    font-size: 16px;
    padding: 18px 28px;
}

/* line 192, ../scss/layouts/_page.scss */
p.callback-alert {
    font-size: 11px;
    color: #484848;
}

/* line 198, ../scss/layouts/_page.scss */
.callback-block input::-webkit-input-placeholder {
    color: #bababa !important;
}

/* line 202, ../scss/layouts/_page.scss */
.callback-block input:-moz-placeholder {
    /* Firefox 18- */
    color: #bababa !important;
}

/* line 206, ../scss/layouts/_page.scss */
.callback-block input::-moz-placeholder {
    /* Firefox 19+ */
    color: #bababa !important;
}

/* line 210, ../scss/layouts/_page.scss */
.callback-block input:-ms-input-placeholder {
    color: #bababa !important;
}

/* line 214, ../scss/layouts/_page.scss */
.beige-text img {
    margin-top: 65px;
    margin-bottom: 35px;
}

/* line 219, ../scss/layouts/_page.scss */
.button {
    font-family: "PT Sans", sans-serif;
}

/* line 223, ../scss/layouts/_page.scss */
.button a {
    background: url(/img/landing/btn.png) no-repeat top center;
    cursor: pointer;
    width: 197px;
    height: 54px;
    border: none;
    color: #893b12;
    font-size: 18px;
    display: block;
    line-height: 54px;
    text-decoration: none;
    margin: 0 auto;
}

/* line 234, ../scss/layouts/_page.scss */
.button a:hover {
    background: url(/img/landing/btn-hover.png) no-repeat top center;
    cursor: pointer;
    width: 197px;
    height: 54px;
    border: none;
    color: #893b12;
    font-size: 18px;
}

/* line 244, ../scss/layouts/_page.scss */
.button a:active {
    background: url(/img/landing/btn-active.png) no-repeat top center;
    cursor: pointer;
    width: 197px;
    height: 54px;
    border: none;
    color: #893b12;
    font-size: 18px;
}

/* line 254, ../scss/layouts/_page.scss */
.btn-margin-top {
    margin-top: 18px;
}

/* line 258, ../scss/layouts/_page.scss */
.footer-text {
    margin-top: 52px;
    margin-bottom: 20px;
    margin-right: 13%;
    text-align: right;
}

/* line 265, ../scss/layouts/_page.scss */
.footer-50 {
    width: 50%;
    float: left;
}

/* line 270, ../scss/layouts/_page.scss */
.contacts-left {
    display: inline-block;
    float: left;
    margin-top: 42px;
    margin-left: 5%;
    width: 300px;
    font-family: "PT Sans", sans-serif;
}

/* line 279, ../scss/layouts/_page.scss */
.contacts-right {
    display: inline-block;
    float: left;
}

/* line 284, ../scss/layouts/_page.scss */
.contacts-item {
    color: #736c7a;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
}

/* line 291, ../scss/layouts/_page.scss */
.contacts-content {
    margin-top: 10px;
}

/* line 295, ../scss/layouts/_page.scss */
.contacts-item p {
    margin: 0;
}

/* line 299, ../scss/layouts/_page.scss */
.contacts-item p span {
    font-size: 19px;
    font-weight: bold;
}

/* line 304, ../scss/layouts/_page.scss */
.contacts-item img {
    float: left;
    margin-right: 20px;
}

/* line 310, ../scss/layouts/_page.scss */
.circles {
    margin-top: 42px;
    margin-left: 4%;
}

/* line 315, ../scss/layouts/_page.scss */
.map {
    margin-top: 20px;
    max-width: 510px;
    overflow: hidden;
}

/* line 321, ../scss/layouts/_page.scss */
.footer-bg {
    background: url(/img/landing/footer-bg.jpg) repeat top center;
}

/* line 325, ../scss/layouts/_page.scss */
.left-footer {
    width: 50%;
    float: left;
}

/* line 331, ../scss/layouts/_page.scss */
.right-footer {
    width: 50%;
    float: left;
    background: #fff;
}

@media only screen and (max-width: 1200px) {
    /* line 340, ../scss/layouts/_page.scss */
    .navbar-header {
        float: none;
    }

    /* line 343, ../scss/layouts/_page.scss */
    .navbar-left, .navbar-right {
        float: none !important;
    }

    /* line 346, ../scss/layouts/_page.scss */
    .navbar-toggle {
        display: block;
    }

    /* line 349, ../scss/layouts/_page.scss */
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    /* line 353, ../scss/layouts/_page.scss */
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    /* line 357, ../scss/layouts/_page.scss */
    .navbar-collapse.collapse {
        display: none!important;
    }

    /* line 360, ../scss/layouts/_page.scss */
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    /* line 364, ../scss/layouts/_page.scss */
    .navbar-nav > li {
        float: none;
    }

    /* line 367, ../scss/layouts/_page.scss */
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }

    /* line 373, ../scss/layouts/_page.scss */
    .collapse.in {
        display: block !important;
    }

    /* line 376, ../scss/layouts/_page.scss */
    .nav > li > a:hover, .nav > li > a:focus {
        background: transparent;
        text-decoration: underline;
    }

    /* line 381, ../scss/layouts/_page.scss */
    ul.navbar-right li {
        display: inline-block;
        float: left;
        text-align: center;
        margin-bottom: 20px;
    }

    /* line 388, ../scss/layouts/_page.scss */
    .navbar-collapse {
        background: #ef7b23;
    }

    /* line 394, ../scss/layouts/_page.scss */
    nav.f-navigation .navbar-collapse {
        background: #3c333e;
    }
}
@media only screen and (max-width: 991px) {
    /* line 400, ../scss/layouts/_page.scss */
    .footer-text img, .beige-text img, .bl-6-margin img, .block-6-text img {
        width: 80%;
    }

    /* line 404, ../scss/layouts/_page.scss */
    .beige-text, .block-6-text, .bl-6-margin {
        text-align: center;
    }
}
@media only screen and (max-width: 725px) {
    /* line 411, ../scss/layouts/_page.scss */
    .block-3-img img {
        width: 100%;
    }
}
@media only screen and (max-width: 660px) {
    /* line 419, ../scss/layouts/_page.scss */
    .left-footer, .right-footer {
        width: 100%;
    }
}
@media only screen and (max-width: 550px) {
    /* line 426, ../scss/layouts/_page.scss */
    .block-5-img img, .block-4-img img {
        width: 90%;
    }

    /* line 430, ../scss/layouts/_page.scss */
    .ico-list ul li {
        text-align: left;
        display: block;
    }

    /* line 435, ../scss/layouts/_page.scss */
    .block-2-title img {
        width: 90%;
    }

    /* line 439, ../scss/layouts/_page.scss */
    .callback-block {
        padding: 5px;
        margin-left: 3%;
    }

    /* line 444, ../scss/layouts/_page.scss */
    .circles {
        text-align: center;
    }

    /* line 448, ../scss/layouts/_page.scss */
    .contacts-item img {
        margin-right: 8px;
    }
}

.footer-bg .contacts-content ul li{
    list-style: none;
    display: block;
}

.footer-bg .contacts-content ul li span{
    font-size: 19px;
    font-weight: bold;
}
