{% macro discount_class(discount) %}
    {% spaceless %}
        {% if discount >= 30 %}
            big
        {% elseif discount < 20 %}
            middle
        {% else %}
            small
        {% endif %}
    {% endspaceless %}
{% endmacro %}
{% import _self as m %}
<div class="clearfix">
    {% block list_header %}
        {{ widget('SelectionItemsWidget') }}
    {% endblock %}
</div>
<div class="gift list">
    {% block list_contents %}
        {% for item in list.getData() %}
            <div class="item {{ item.off_price > 0 ? 'discount' }}">
                <a href="{{ path('catalog/item', {perm_link: item.perm_link}) }}"
                   class="ribbon green big "><span>{{ item.title }}</span></a>

                <div class="description">
                    {{ item.desc }}
                </div>
                <div class="info">
                    <a class="img" href="{{ path('catalog/item', {perm_link: item.perm_link}) }}">
                        <img src="/<?= $item->preview_img ?>" alt="<?=$item->title; ?>"/>
                    </a>
                    {% if item.off_price == 0 %}
                        {% if item.is_new %}
                            <div class="price-label price-label-new label new">New</div> {% endif %}
                        {% if item.is_weekend %}
                            <div class="price-label price-label-weekend label weekend">Weekend</div> {% endif %}
                        {% if not item.available %}
                            <div class="price-label price-label-not-available label not-available">Нет в наличии
                            </div> {% endif %}
                    {% else %}
                        <div class="label discount {{ m.discount_class(item.off_price) }}">{{ item.off_price }}%</div>
                        <div class="label price">
                            Новая цена: <span> {{ item.roundedPrice | format }} руб.</span>
                        </div>
                    {% endif %}
                    <div class="price">{{ item.price | number_format }} руб.</div>
                </div>
                <div class="footer">
                    <a href="{{ path('order/pack', {item_id: item.id}) }}" class="buy-button">Купить</a>
                    <span class="badge badge-info"
                          title="Подарок купили {{ trans('test', '{n} человек|{n} человека|{n} человек', item.order_count) }}">{{ item.order_count }}</span>
                </div>
            </div>
        {% else %}
            <h2 style="color: #fff; text-align: center;">Ничего не найдено.</h2>
        {% endfor %}
    {% endblock %}
</div>
{% block list_footer %}
    {{ widget('PagerWidget', {pager: list.pagination}) }}
{% endblock %}
