{% extends 'catalog/list.twig' %}
{% block list_footer %}
    <p>Для ознакомления с полным списком подарком воспользуйтесь поиском или выберите слева интересующую категорию.</p>
    {{ parent() }}
{% endblock %}