@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap');
body {
    font-family: 'M PLUS 1p', sans-serif;
}
body input, body button, body select, body textarea {
    font-family: 'M PLUS 1p', sans-serif;
}
.container {
    max-width: 1250px;
    margin: auto;
    padding: 0 80px;
    box-sizing: border-box;
    width: auto;
}
.errorSummary{
    color:red
}
.login-screen .admin-main {
    width:300px;
    margin:50px auto 0;
}
a.my-print{
    position: absolute;
    right: 2px;
    top:2px;
}
header {
    background: linear-gradient(104.07deg, #FA6535 0%, #FAB135 92.84%);
}

header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    height: 60px;
    position: relative;
}

.user-menu {
    position: absolute;
    right: 0;
    top: 54px;
    width: 166px;
    border-radius: 8px;
    background: #FFFEFD;
    padding: 0 12px;
    text-align: right;
    color: #FB7A4A;
    font-size: 14px;
    box-shadow: 2px 3px 5px #FCF3E8;
    display: none;
}

.nav-item {
    margin: 0 15px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-item:hover {
    color: #fff;
    /*text-decoration: none;*/
}

.header {
    margin: 20px 0 0;
}

.order-list {

}

.order-list .item {
    background: #fff;
    border:solid 1px #ddd;
    border-top: none;
    position: relative;
    font-size:1.1em;
    padding: 10px;
    color: #444;
}

.order-list .item.pending {
    color: #222;
}

.order-list .item.first ,
.order-list .item:first-of-type {
    border-top: solid 1px #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.order-list .item.last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.order-list .item:after {
    content: ".";
    display: block;
    clear: both;
    font-size: 0;
    visibility: hidden;
    height: 0;
}
.order-list .item:nth-child(2n){
    background: #f7f7f7;
}

.order-list .item.active,
.order-list .item:hover {
    background: #c6eaff;
}

.order-list .item .customer {
    font-size: 0.75em;
    margin: 0;
}
.order-list .item .price {
    float:right;
    color:#666;
    font-size:0.75em;
    margin: 0;
}

.certificate-info {
    max-width:580px;
}

.certificate-info .tab-content {
    text-align: center;
}
.table-info {
    text-decoration: underline;
    text-align: center;
    margin: 18px 0;
    font-size: 16px;
}
.certificate-info .nav-tabs > li > a, .nav-pills > li > a {
    padding:8px;
}

.certificate-info .empty {
    font-size: 24px;
    color: #666;
    text-align: center;
    line-height: 3;
    float:none;
    margin: 0;
}

.certificate-info .control-group strong {
    width:100px;
    text-align: right;
    margin-right: 10px;
    display:inline-block;
    *display: inline;
    zoom:1;
    font-weight: normal;
    color:#666;
    font-size:12px;
}

.certificate-info .form-actions {
    margin-top:0;
    border:solid 1px #e5e5e5;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 20px;
}
.control-group.design{
	height: 150px;
}
.certificate-info .packing {
    position: relative;
}

.certificate-info .packing .bow {
    position: absolute;
    top:0;
    left:0;
}

.certificate-info .packing img {
    max-width: 250px;
}

.certificate-info .packing .card img{
    max-width: 180px;
}

.affix {
    top: 20px;
}

.valigned a{
    text-align: center;vertical-align: middle;
    width: 18px;
    margin: 0px 0px 0px -15px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    white-space: nowrap;
    -moz-transform: rotate(-90deg) translate(0, 100%);
    -moz-transform-origin: 0% 100%;
    -o-transform: rotate(-90deg) translate(0, 100%);
    -o-transform-origin: 0% 100%;
    -webkit-transform: rotate(-90deg) translate(0, 100%);
    -webkit-transform-origin: 0% 100%;
    transform: rotate(-90deg) translate(0, 100%);
    transform-origin: 0% 100%;
}

.smaller {
    padding:0;
    text-align: center;
}

.filter h3 {
    margin: 0;
    line-height: 30px;
}

.filter.closed form{
    display:none;
}

.items-list{
    margin-top: 20px;
    margin-bottom: 20px;
}

.items-list > .item {
    margin-bottom: 10px;
}

.items-list > .item > img {
    max-width: 60px;
    margin-right: 10px;
    float:left;
}


.items-list > .item > span,
.items-list > .item > strong,
.items-list > .item > a {
    display:block;
}

.items-list > .item {
    position: relative;
}

.items-list > .item .hint-list {
    list-style: none;
    overflow: auto;
    max-height:300px;
    position:absolute;
    top:40px;
    left:0;
    margin:0;
    padding: 0;
    background: #fff;
    border:solid 1px #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    z-index: 9999;
}

.items-list > .item .hint-list > li{
    padding:3px 5px;
    border-top:solid 1px #ccc;
}

.items-list > .item .hint-list > li:first-child{
    border-top:none;
}

.items-list > .item .hint-list > li:hover{
    background: #c2ddff;
}

/* сортировка категорий */
.cats.order ul{
    padding: 0;
    margin: 0;
}
.cats.order ul,
.cats.order ul li{
    list-style: none;
    padding: 5px;
    overflow: hidden;
}
.cats.order ul li span{
    color:#333333;
}
.cats.order ul li{
    border: 1px dashed #d9d9d9;
    margin-bottom: 5px;
    background: #f6f6f6;
}
.cats.order ul li div.title{
    float: left;
    width: 75%;
    height: 100%;
}
.cats.order ul li div.id{
    float: right;
    width: 5%;
    height: 100%;
    text-align: right;
}
.cats.order ul li div.slug{
    float: right;
    width: 20%;
    height: 100%;
    text-align: right;
}
.cats.order ul li div span{
    color:#d9d9d9;
}
/**/
.fixed-bar{
    width: 12px;
    padding: 5px;
    height: auto;
    background: #fcc182;
    position: fixed;
    top:0;
    right: 0;
}
div#partnerInfo a.close{
    position: absolute;
    right: 24px;
    top: 24px;
    background-image: url(/img/front_bootstrap/close-grey.svg);
    background-size: contain;
    width: 24px;
    height: 24px;
    float: none;
    text-shadow: none;
    opacity: 1;
}
.partnerInfoInner {
    padding: 60px 50px;
    text-align: center;
    color:#5E5450;
    font-size: 16px;
    line-height: 28px;
    width: 370px;
    background: #FFFEFD;
    border-radius: 12px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div#partnerInfo{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(251, 107, 54, 0.3);
}
div#partnerInfo a{
    text-decoration: none;
    color:#fff;
}

#partnerInfo p span.success{
    display: block;
    height: 70px;
    background: url(/img/front_bootstrap/success.svg) 50% 0 no-repeat;
    background-size: 60px 60px;
}

#partnerInfo p span.error{
    display: block;
    height: 70px;
    background: url(/img/front_bootstrap/error.svg) 50% 0 no-repeat;
    background-size: 60px 60px;
}

#searchStr, #enumSearch {
    margin-bottom: 0;
}

#activateInfo {
    display: none;
}
.login_cell_ico {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    cursor: pointer;
    height: 30px;
    background: url(/img/front_bootstrap/login_ico_a.svg) 0 50% no-repeat;
    background-size: 20px 20px;
}

.user-info {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user-info i {
    background: url(/img/front_bootstrap/arrow_active_down_little.svg) 50% 50% no-repeat;
    width: 12px;
    height: 12px;
    background-size: 12px 8px;
    margin-left: 10px;
    transition: all 0.4s ease-out 0s;
}
.user-info.active i {
    transform: rotate(180deg);
}
.user-menu-item {
    border-top: 1px solid #FDA686;
    line-height: 44px;
}

.user-menu-item:first-child {
    border: 0;
}

.user-menu-item a{
    color: #FB7A4A;
    text-decoration: none;
}

.help-box {
    font-size: 14px;
    line-height: 24px;
    padding: 24px 48px;
    border: 1px solid #FDB59A;
    border-radius: 8px;
    margin: 40px 0;
    color: #FB7A4A;
}
.tel-link {
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
    color: #FB7A4A;
}
.tel-link:hover {
    color: #FB7A4A;
}
.note-link {
    text-decoration: underline;
    color: #8C8582;
}
.note-link:hover {
    color: #8C8582;
}

.tab-header {
    display: flex;
    margin-bottom: 24px;
}

.tab-item {
    color: #FDC4AF;
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
    transition: all 0.4s ease-out 0s;
    position: relative;
    margin-right: 24px;
    cursor: pointer;
}
.tab-item::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    height: 2px;
    opacity: 0;
    background: #FB6B36;
    transition: all 0.4s ease-out 0s;
}
.tab-item.selected {
    color: #FB6B36;
}
.tab-item.selected::before {
    opacity: 1;
    bottom: 0;
}

.tab-content .btn.btn-primary {
    background: transparent;
    border: 1px solid #FB6B36;
    color: #FB6B36;
    text-shadow: none;
    outline: 0;
    box-shadow: none;
    padding: 7px 14px;
    border-radius: 8px;
    transition: all 0.4s ease-out 0s;
    width: 118px;
}

.tab-content .btn.btn-primary:hover {
    background: #FB6B36;
    border: 1px solid #FB6B36;
    color: #fff;
}

.tab-content .btn.btn-primary:disabled:hover,
.tab-content .btn.btn-primary:disabled {
    border: 1px solid #A39D9B;
    color: #A39D9B;
    background: transparent;
}

input[type="text"] {
    border-color: #5E5450;
    color: #5E5450;
}

input[type="text"]:placeholder-shown {
    border-color: #A39D9B;
    color: #A39D9B;
}

.tab-content .add-on {
    background: #fff;
    position: absolute;
    border: 0;
    right: 2px;
    top: 5px;
    bottom: 2px;
    display: block;
    height: auto;
    z-index: 2;
}
.tab-content .add-on i {
    background-image: url(/img/front_bootstrap/calendar-black.svg);
    background-size: 16px 16px;
    background-position: 0 0;
}
.tab-content input[type="text"]:focus {
    border: 1px solid #FB6B36;
    box-shadow: none;
    outline: 0;
}

.tab-content input[type="text"]:focus + .add-on i{
    background-image: url(/img/front_bootstrap/calendar.svg);
}
.line-info.active input[type="text"],
.input-append.active input[type="text"] {
    border: 1px solid #FB6B36;
    box-shadow: none;
    outline: 0;
}

.line-info.active .add-on i,
.input-append.active .add-on i{
    background-image: url(/img/front_bootstrap/calendar.svg);
}

.input-append.date span {
    margin-right: 10px;
}
.input-append.date {
    position: relative;
    margin-right: 10px;
}

.tab-content .input-append.date .input-small{
    border-radius: 8px;
    padding: 7px 34px 7px 12px;
    width: 90px;
    background: transparent;
    z-index: 1;
}

input[id=codeCert] {
    border-radius: 8px;
    padding: 7px 13px;
    box-shadow: none;
    outline: 0;
    font-size: 16px;
    line-height: 28px;
}

.nav-medium {
    display: none;
    position: relative;
    width: 30px;
    height: 26px;
    cursor: pointer;
}

.nav-medium span {
    position: relative;
    display: block;
    top: 0;
    height: 4px;
    background-color: #fff;
    margin-bottom: 7px;
    border-radius: 2px;
}

.nav-medium span:last-child {
    margin-bottom: 0;
}

.nav-close {
    display: none;
    position: absolute;
    left: 20px;
    top: 20px;
    background-image: url(/img/front_bootstrap/close-grey.svg);
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.header-nav-mob {
    display: none;
    position: absolute;
    width: 350px;
    background: #FFFEFD;
    box-shadow: 2px 3px 5px #FCF3E8;
    right: 0;
    top: 54px;
    border-radius: 8px;
    padding: 24px;
    text-align: right;
    color: #FB7A4A;
    font-size: 14px;
    z-index: 1;
    /*transition: display 0.4s ease-out 0s;*/
}
.header-nav-mob a:hover,
.header-nav-mob a {
    color: #FB6B36;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
}
.header-nav-mob > div {
    text-align: right;
    border-bottom: 1px solid #FDA686;
    font-size: 14px;
}
.header-nav-mob > div:last-child {
    border-bottom: 0;
}

table.table.orderItemsTable {
    border: 0;
}

.table th a, .table td a {
    color: #5E5450;
    text-decoration: underline;
}

.table th, .table td {
    padding: 16px;
    line-height: 22px;
    font-size: 16px;
    text-align: left;
    border-top: 1px solid #FDB59A;
    color: #5E5450;
    vertical-align: middle;
}
.table thead th,
.table tbody tr {
    vertical-align: middle;
}
.table tbody tr td:first-child {
    width: 100px;
}
.table tbody tr td:last-child {
    width: 135px;
}
.table tbody tr td:nth-child(2) {
    width: 120px;
}
table thead:first-child tr:first-child th {
    border-top: 1px solid #FDB59A!important;
}

table tbody tr:last-child td {
    border-bottom: 1px solid #FDB59A;
}
.control-group span {
    margin-right: 10px;
    font-size: 18px;
}
.line-info{
    margin-bottom: 18px;
}
.line-info input{
    margin-right: 10px;
}
.line-info span{
    font-weight: 400;
    margin-right: 10px;
    float: none;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 30px;
    color: #5E5450;
}
.list-view {
    overflow: auto;
}

.well.orderItemCard {
    background: transparent;
    border: 0;
    padding: 0;
    box-shadow: none;
    margin: 0;
}

.no-found {
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
    color: #FF4D4D;
    padding-left: 28px;
    background: url(/img/front_bootstrap/no-found.svg) 0 50% no-repeat;
    background-size: 20px 20px;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.no-found-note {
    display: none;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    background: #FB6B36;
    box-shadow: 2px 3px 5px #fcf3e8;
    border-radius: 8px;
    padding: 39px 45px;
    width: 400px;
    position: absolute;
    text-align: left;
    top: -16px;
    left: 106%;
}
.no-found-note::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 22px;
    background: url(/img/front_bootstrap/tringle.png) 0 0 no-repeat;
    width: 15px;
    height: 25px;
}
.no-found-close {
    background: url(/img/front_bootstrap/close-white.svg) 0 50% no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.no-found-icon {
    background: url(/img/front_bootstrap/info-item-grey.svg) 0 50% no-repeat;
    width: 12px;
    height: 12px;
    cursor: pointer;
    display: inline-block;
    align-self: flex-start;
}

.no-found-icon.active {
    background: url(/img/front_bootstrap/info-item.svg) 0 50% no-repeat;
}

.tab-content {
    overflow: visible;
}

.no-found-note .tel-link {
    color: #fff;
}

.orderItemStatus {
    position: relative;
    display: inline-block;
}

.found {
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
    color: #24BA96;
    align-items: center;
}

.found-activated {
    font-size: 24px;
    line-height: 38px;
    font-weight: bold;
    color: #F3BA33;
    align-items: center;
}

.select-wrap {
    display: inline-block;
}

.select-wrap select {
    border-radius: 8px;
    height: 36px;
}

.bootstrap-datetimepicker-widget .table-condensed td.active:hover,
.bootstrap-datetimepicker-widget .table-condensed td.active:hover:hover,
.bootstrap-datetimepicker-widget .table-condensed td.active:active,
.bootstrap-datetimepicker-widget .table-condensed td.active:hover:active,
.bootstrap-datetimepicker-widget .table-condensed td.active.active,
.bootstrap-datetimepicker-widget .table-condensed td.active:hover.active,
.bootstrap-datetimepicker-widget .table-condensed td.active.disabled,
.bootstrap-datetimepicker-widget .table-condensed td.active:hover.disabled,
.bootstrap-datetimepicker-widget .table-condensed td.active[disabled],
.bootstrap-datetimepicker-widget .table-condensed td.active:hover[disabled] {
    background: #FB6B36;
}

table.table-condensed tbody tr:last-child td {
    border-bottom: 0;
}

table.table-condensed thead:first-child tr:first-child th {
    border-top: 0!important;
}

.chosen-container {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 2px 0 2px 12px;
    height: auto;
    border: 1px solid #A39D9B;
    border-radius: 8px;
    background: transparent;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    line-height: 28px;
    color: #A39D9B;
    text-decoration: none;
    white-space: inherit;
}

select.selectNotEmptyField + .chosen-container-single .chosen-single {
    border-color: #5E5450;
}

select.selectNotEmptyField + .chosen-container-single .chosen-single span {
    color: #5E5450;

}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #FB6B36!important;
    border-bottom: 1px solid transparent!important;
    background: transparent;
    color: #A39D9B;
}

.chosen-container-single .chosen-single span {
    overflow: auto;
    white-space: inherit;
    margin-right: 26px;
    color: #A39D9B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.chosen-container-active.chosen-with-drop .chosen-single span {
    color: #A39D9B;
}

.line-info span {
    margin-bottom: 0;
}

.chosen-container-single .chosen-single div {
    width: 50px;
}

.chosen-container-single .chosen-single div b {
    background: url(/img/front_bootstrap/arr-select.svg) 50% 50% no-repeat;
    transform: rotate(-90deg);
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background: url(/img/front_bootstrap/arr-select.svg) 50% 50% no-repeat;
    transform: rotate(0deg);
}

.chosen-container .chosen-drop {
    border: 1px solid #FB6B36!important;
    border-top: 0!important;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0 0 8px 8px;
}

.chosen-container .chosen-results {
    color: #A39D9B;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 0 22px 4px 0;
    padding: 0 0 0 12px;
}

.chosen-container .chosen-results li.highlighted {
    background: #fff;
    color: #FB6B36;
}

.chosen-container .chosen-results li {
    margin: 0;
    border-top: 1px solid #D1CECD;
    padding: 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

/*input[type="text"] {*/
/*    border-color: #5E5450!important;*/
/*    color: #5E5450!important;*/
/*}*/

/*input[type="text"]:placeholder-shown {*/
/*    border-color: #A39D9B!important;*/
/*    color: #A39D9B!important;*/
/*}*/

/*input.inputEmptyField[type="text"] {*/
/*    border-color: red!important;*/
/*    color: red!important;*/
/*}*/
/*input[type="text"]:focus {*/
/*    border-color: #FB6B36!important;*/
/*    color: #FB6B36!important;*/
/*}*/

.tab-content .input-append.date .input-small.disable-date {
    background: url(/img/front_bootstrap/calendar-black.svg) no-repeat;
    background-position: 90% 50%;
    background-size: 16px 16px;
}

.check-line-info {
    display: flex;
}

.check-line-info > span {
    text-align: right;
    width: 250px;
}

.check-line-info .btn.btn-primary {
    width: 118px;
}
.tab-content .check-line-info .input-append.date .input-small {
    width: 102px;
}

.check-line-info input[id=codeCert] {
    width: 122px;
}

.data-wrap {
    display: inline-block;
}

.list-view {
    padding-top: 4px;
}

@media only screen and (max-width: 1220px) {
    .nav-medium {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .nav-close {
        display: block;
    }
    .user-info {
        display: none;
    }
    .no-found-note {
        top: 110%;
        left: 50%;
        margin-left: -150px;
        width: 300px;
        box-sizing: border-box;
        padding: 50px 16px 32px 16px;
    }
    .no-found-note::before {
        right: 15px;
        top: -14px;
        transform: rotate(90deg);
        left: auto;
    }
}

@media only screen and (max-width: 767px) {
    .header-nav-mob {
        right: 0;
        left: 0;
        width: auto;
    }
    .tab-header {
        justify-content: space-between;
        align-items: flex-end;
    }
    .tab-item {
        font-size: 20px;
        line-height: 34px;
    }
    .tab-item:last-child {
        text-align: right;
        margin-right: 0;
        width: 130px;
    }
    html body {
        padding: 0;
    }
    .container {
        padding: 0 20px;
    }
    .check-line-info {
        flex-wrap: wrap;
        align-items: center;
    }
    .check-line-info .btn.btn-primary {
        width: 100%;
        box-sizing: border-box;
        margin: 12px 0 0 0;
    }
    .tab-content .check-line-info .input-append.date .input-small {
        width: 100%;
        box-sizing: border-box;
        height: 36px;
    }
    .check-line-info input[id=codeCert] {
        width: 50%;
        box-sizing: border-box;
        margin: 0;
        height: 36px;
    }
    .check-line-info > span {
        text-align: left;
        width: 50%;
        margin: 0;
    }
    .check-line-info .input-append.date {
        margin-right: 0;
        width: 50%;
    }
    .line-info span {
        font-size: 16px;
        line-height: 28px;
    }
    .select-wrap {
        width: 100%;
        margin-top: 12px;
    }
    .chosen-container {
        width: 100% !important;
    }
    .partnerInfoInner {
        padding: 40px 10px;
        width: 300px;
    }
    .check-line-info select{
        width: 100%;
    }
    div.orderItemStatus {
        margin-top: 14px;
    }
    .table-info {
        margin: 24px 0;
        font-size: 14px;
    }
    .table th, .table td {
        padding: 12px 0;
        font-size: 14px;
    }
    .orderItemCard td:first-child {
        font-weight: bold;
    }
    .tab-header {
        margin-bottom: 18px;
    }
    .help-box {
        margin: 24px 0;
        padding: 12px;
        font-size: 12px;
        text-align: center;
    }
    .orderItemsTable {
        width: 750px;
        max-width: inherit;
    }
    .period-line .btn.btn-primary {
        width: 100%;
        box-sizing: border-box;
        margin: 12px 0 0 0;
    }
    .period-line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .data-wrap {
        width: 50%;
        padding-left: 12px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .data-wrap:first-child {
        padding-left: 0;
        padding-right: 12px;
    }
    .period-line .input-append.date {
        margin-right: 0;
    }
    .tab-content .period-line .input-append.date .input-small {
        width: 100%;
        height: 36px;
        box-sizing: border-box;
    }
    .control-group span {
        font-size: 16px;
    }
}

@media only screen and (max-width: 430px) {
    .dropdown-menu.pull-right {
        right: 0!important;
        left: 43px!important;
    }
}
