html, body {
  margin:0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
}

.page {
  background: #fff url('bg.png');
  width: 735px;
  height: 1040px;

  &.page-title {
    background: url('title.png') no-repeat 50% 50%;
    background-size: cover;
    position:relative;
  }
}

.page-wrap {
  padding: 40px;
}

.column-set {
  &:before, &:after {content: '';display:table;}
  &:after {clear: both};

  & > .col {
    box-sizing: border-box;
    padding-left: 10px;
    float: left;
    width: 60%;

    &.card-example {
      background: url('card.png') no-repeat;
      background-size: contain;
      height: 150px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      box-sizing: border-box;
      padding-top: 113px;
      line-height: 1.8;
      padding-right: 30px !important;
      font-weight: bold;
    }

    &:nth-child(2n+1) {
      clear: left;
      width: 40%;
      padding-left: 0;
      padding-right: 10px;
    }
  }
}

h1 {
  color: #f00;
  text-align: center;
  font-size: 2.5em;
  &:before {content: "\201c"}
  &:after {content: "\201d"}
}

h2 {
  color: #ff862f;
  font-size: 1.25em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}

.heading {
  font-size: 1.8em;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

ol {
  list-style: none;
  counter-reset: item;
  padding: 0;


  & > li {
    display: block;
    line-height: 1.5;
    & + li {
      margin-top: 10px;
    }
    &:before {
      background: #7d9337;
      color: #fff;
      border-radius: 100%;
      line-height: 1.5;
      width: 24px;
      text-align: center;
      display: inline-block;
      margin-right: 10px;
      content: counter(item); counter-increment: item
    }
  }
}

ul {
  list-style: none;


  & > li {
    padding-left: 30px;
    &:before {
      content: "";
      display: inline-block;
      background: #f00;
      width: 15px;
      height: 15px;
      margin-left: -30px;
      margin-right: 15px;
      border-radius: 100%;
    }
  }
}

p {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}

.activation-code {
  color: #fff;
  font-size: 3em;
  font-family: arial, helvetica, sans-serif;
  position: absolute;
  bottom: 50px;
  left:0;
  width: 100%;
  text-align: center;
  letter-spacing: 0.15em;
}

.card-example {
  background: url('card.png') no-repeat;
  background-size: contain;
}