#floatingCirclesG {
    margin: 0 auto;
    margin-top: 100px;
    display: none;
}

.filterCheckboxOption {
    width: 100px;
    float: left;
    margin-left: 30px;
}

.label-purple {
    background-color: #8A2BE2;
}