.modal {
    width: 590px;
    margin-left: -300px;
    margin-top: -285px;
}

.left-block, .left-block-flower, .left-block-card {    
    float: left;
    width: 300px;
    padding: 0px;
    height: 300px;
    position: relative;
}

.right-block {    
    float: left;
    width: 200px;
    padding: 5px;
}

.conteiner {
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 300px;
    position: absolute;
}

.box-select-img {
    width: 150px;
    height: 60px;
    border: 2px solid #EEEEEE;
}

#bow {
    overflow: hidden;    
}

.well {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
/*------------------------------------*/

.box-bg-01 {
    background: url(/images/box-01.jpg) top center no-repeat;
}

.box-bg-02 {
    background: url(/images/box-02.jpg) top center no-repeat;
}

.box-bg-03 {
    background: url(/images/box-03.jpg) top center no-repeat;
}

.box-bg-04 {
    background: url(/images/box-04.jpg) top center no-repeat;
}

.box-bg-05 {
    background: url(/images/box-05.jpg) top center no-repeat;
}

.box-bg-06 {
    background: url(/images/box-06.jpg) top center no-repeat;
}

.box-bg-07 {
    background: url(/images/box-07.jpg) top center no-repeat;
}

.box-bg-08 {
    background: url(/images/box-08.jpg) top center no-repeat;
}

.box-bg-09 {
    background: url(/images/box-09.jpg) top center no-repeat;
}

.box-bg-10 {
    background: url(/images/box-10.jpg) top center no-repeat;
}

.box-bg-11 {
    background: url(/images/box-11.jpg) top center no-repeat;
}

.box-bg-12 {
    background: url(/images/box-12.jpg) top center no-repeat;
}

/*---*/
.ex-box-bg-01 {
    background: url(/images/box-bg-01.png) 0 0 repeat-x;
}

.ex-box-bg-02 {
    background: url(/images/box-bg-02.png) 0 0 repeat-x;
}

.ex-box-bg-03 {
    background: url(/images/box-bg-03.png) 0 0 repeat-x;
}

.ex-box-bg-04 {
    background: url(/images/box-bg-04.png) 0 0 repeat-x;
}

.ex-box-bg-05 {
    background: url(/images/box-bg-05.png) 0 0 repeat-x;
}

.ex-box-bg-06 {
    background: url(/images/box-bg-06.png) 0 0 repeat-x;
}

.ex-box-bg-07 {
    background: url(/images/box-bg-07.png) 0 0 repeat-x;
}

.ex-box-bg-08 {
    background: url(/images/box-bg-08.png) 0 0 repeat-x;
}

.ex-box-bg-09 {
    background: url(/images/box-bg-09.png) 0 0 repeat-x;
}

.ex-box-bg-10 {
    background: url(/images/box-bg-10.png) 0 0 repeat-x;
}

.ex-box-bg-11 {
    background: url(/images/box-bg-11.png) 0 0 repeat-x;
}

.ex-box-bg-12 {
    background: url(/images/box-bg-12.png) 0 0 repeat-x;
}


.bow-bg-01 {
    background: url(/images/bow-bg-01.png) center center no-repeat;
}

.bow-bg-02 {
    background: url(/images/bow-bg-02.png) center center no-repeat;
}

.bow-bg-03 {
    background: url(/images/bow-bg-03.png) center center no-repeat;
}

.bow-bg-04 {
    background: url(/images/bow-bg-04.png) center center no-repeat;
}

.bow-bg-05 {
    background: url(/images/bow-bg-05.png) center center no-repeat;
}

.bow-bg-06 {
    background: url(/images/bow-bg-06.png) center center no-repeat;
}

.ex-bow-bg-01 {
    background: url(/images/bow-01.png) 10px 4px no-repeat;
}

.ex-bow-bg-02 {
    background: url(/images/bow-02.png) 10px 4px no-repeat;
}

.ex-bow-bg-03 {
    background: url(/images/bow-03.png) 10px 4px no-repeat;
}

.ex-bow-bg-04 {
    background: url(/images/bow-04.png) 10px 4px no-repeat;
}

.ex-bow-bg-05 {
    background: url(/images/bow-05.png) 10px 4px no-repeat;
}

.ex-bow-bg-06 {
    background: url(/images/bow-06.png) 10px 4px no-repeat;
}