.jqifade{
      position: absolute;
      background-color: #777;
}
div.jqi{
      min-width: 300px;
      font-family: Arial;
      position: absolute;
      background-color: #ffffff;
      font-size: 11px;
      text-align: left;
      border: solid 1px #eeeeee;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 7px;
}
div.jqi .jqicontainer{
}
div.jqi .jqiclose{
      position: absolute;
      top: 4px; right: 6px;
      width: 18px;
      cursor: default;
      color: #bbbbbb;
      font-weight: bold;
      padding: 6px 0px 5px 7px;
      cursor: pointer;
}
div.jqi .jqimessage{
      padding: 10px 10px 20px 10px;
      line-height: 20px;
      color: #444444;
}
div.jqi .jqibuttons{
      text-align: right;
      padding: 5px 0 5px 0;
      background-color: #f4f4f4;
}
div.jqi button{
      padding: 2px 7px;
      margin-right: 10px;
      font-size: 11px;
	  cursor: pointer;
}
div.jqi button:hover{
}
div.jqi button.jqidefaultbutton{
}
.jqiwarning .jqi .jqibuttons{
}
