.errorSummary{
    color:red
}
.login-screen .admin-main {
    width:300px;
    margin:50px auto 0;
}
a.my-print{
    position: absolute;
    right: 2px;
    top:2px;
}
.header {
    margin:20px 0 0;
}

.order-list {

}

.order-list .item {
    background: #fff;
    border:solid 1px #ddd;
    border-top: none;
    position: relative;
    font-size:1.1em;
    padding: 10px;
    color: #444;
}

.order-list .item.pending {
    color: #222;
}

.order-list .item.first ,
.order-list .item:first-of-type {
    border-top: solid 1px #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.order-list .item.last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.order-list .item:after {
    content: ".";
    display: block;
    clear: both;
    font-size: 0;
    visibility: hidden;
    height: 0;
}
.order-list .item:nth-child(2n){
    background: #f7f7f7;
}

.order-list .item.active,
.order-list .item:hover {
    background: #c6eaff;
}

.order-list .item .customer {
    font-size: 0.75em;
    margin: 0;
}
.order-list .item .price {
    float:right;
    color:#666;
    font-size:0.75em;
    margin: 0;
}

.order-info {
    width:460px;
}

.order-info .tab-content {
    border:solid 1px #ddd;
    border-top:none;
    padding:20px 10px;
    margin-top:-20px;
    max-height: 465px;
    overflow: auto;
}

.order-info .nav-tabs > li > a, .nav-pills > li > a {
    padding:8px;
}

.order-info .empty {
    font-size: 24px;
    color: #666;
    text-align: center;
    line-height: 3;
    float:none;
    margin: 0;
}

.order-info .control-group strong {
    width:100px;
    text-align: right;
    margin-right: 10px;
    display:inline-block;
    *display: inline;
    zoom:1;
    font-weight: normal;
    color:#666;
    font-size:12px;
}

.order-info .form-actions {
    margin-top:0;
    border:solid 1px #e5e5e5;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 20px;
}
.control-group.design{
	height: 150px;
}
.order-info .packing {
    position: relative;
}

.order-info .packing .bow {
    position: absolute;
    top:0;
    left:0;
}

.order-info .packing img {
    max-width: 250px;
}

.order-info .packing .card img{
    max-width: 180px;
}

.affix {
    top: 20px;
}

.valigned a{
    text-align: center;vertical-align: middle;
    width: 18px;
    margin: 0px 0px 0px -15px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    white-space: nowrap;
    -moz-transform: rotate(-90deg) translate(0, 100%);
    -moz-transform-origin: 0% 100%;
    -o-transform: rotate(-90deg) translate(0, 100%);
    -o-transform-origin: 0% 100%;
    -webkit-transform: rotate(-90deg) translate(0, 100%);
    -webkit-transform-origin: 0% 100%;
    transform: rotate(-90deg) translate(0, 100%);
    transform-origin: 0% 100%;
}

.smaller {
    padding:0;
    text-align: center;
}

.filter h3 {
    margin: 0;
    line-height: 30px;
}

.filter.closed form{
    display:none;
}

.items-list{
    margin-top: 20px;
    margin-bottom: 20px;
}

.items-list > .item {
    margin-bottom: 10px;
}

.items-list > .item > img {
    max-width: 60px;
    margin-right: 10px;
    float:left;
}


.items-list > .item > span,
.items-list > .item > strong,
.items-list > .item > a {
    display:block;
}

.items-list > .item {
    position: relative;
}

.items-list > .item .hint-list {
    list-style: none;
    overflow: auto;
    max-height:300px;
    position:absolute;
    top:40px;
    left:0;
    margin:0;
    padding: 0;
    background: #fff;
    border:solid 1px #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    z-index: 9999;
}

.items-list > .item .hint-list > li{
    padding:3px 5px;
    border-top:solid 1px #ccc;
}

.items-list > .item .hint-list > li:first-child{
    border-top:none;
}

.items-list > .item .hint-list > li:hover{
    background: #c2ddff;
}

/* сортировка категорий */
.cats.order ul{
    padding: 0;
    margin: 0;
}
.cats.order ul,
.cats.order ul li{
    list-style: none;
    padding: 5px;
    overflow: hidden;
}
.cats.order ul li span{
    color:#333333;
}
.cats.order ul li{
    border: 1px dashed #d9d9d9;
    margin-bottom: 5px;
    background: #f6f6f6;
}
.cats.order ul li div.title{
    float: left;
    width: 75%;
    height: 100%;
}
.cats.order ul li div.id{
    float: right;
    width: 5%;
    height: 100%;
    text-align: right;
}
.cats.order ul li div.slug{
    float: right;
    width: 20%;
    height: 100%;
    text-align: right;
}
.cats.order ul li div span{
    color:#d9d9d9;
}
/**/
.fixed-bar{
    width: 12px;
    padding: 5px;
    height: auto;
    background: #fcc182;
    position: fixed;
    top:0;
    right: 0;
}
div#orderInfo a.close{
    position: absolute;
    right: 4px;
    top:px;
}
div#orderInfo{
    cursor: pointer;
    display: none;
    padding: 10px;
    min-height: 30px;
    background: #616060;
    color:#fff;
    width: 180px;
    border-radius: 6px;
    box-shadow: 0 0 5px #000;
    position: fixed;
    bottom:5px;
    right: 5px;
}
div#orderInfo:hover{
    opacity: 0.9;
}
div#orderInfo a{
    text-decoration: none;
    color:#fff;
}

#searchStr, #enumSearch {
    margin-bottom: 0;
}