html,
body {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    background: #efefef;
}
.page {
    background: #ffffff url('bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    width: 735px;
    height: 1030px;
    margin: 20px auto;
    border: solid 1px #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color:#414243
}
.page.page-title {
    background: url('title.jpg') no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.info{
    margin-top: 150px;
    padding: 0 6%;
    overflow: hidden;
}

.info .left{
    float: left;
    width: 35%;
}

.info .right{
    float: right;
    width: 60%;
}