.eye{
    background:url(eye.png);
    background-size: contain;
}
.exit{
    background:url(exit.png);
    background-size: contain;
}
.dollar{
    background:url(dollar.png);
    background-size: contain;
}
.printer{
    background:url(printer.png);
    background-size: contain;
}
.clear{
    background:url(clear.png);
    background-size: contain;
}
.del{
    background:url(del.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.excel{
    background:url(excel.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#logo{
    margin-left: 3px;
    width: 100px;
    height: 50px;
    background: url(logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
body{
    -webkit-print-color-adjust:exact;
}
div[size="A4"] {
    width: 21cm;
    height: 29.6cm;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    background-size: contain;
    overflow: hidden;
}
div.page1[size="A4"]{
    /*background-image: url("/RemoteSalesApp/resources/print1.jpg");*/
}
div.page2[size="A4"]{
    /*background-image: url("/RemoteSalesApp/resources/print2.jpg");*/
}
@media print {
    body, div[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }
}
@page {
    margin: 0cm;
}
div.wrapper{
    width: 100%;
    height: 7cm;
    padding-top: 4cm;
    overflow: hidden;
    color:#4f5253;
    font-size: 13pt;
    font-weight: bold;
    line-height: 1.2;
}
div.wrapper ol{
   font-size: 12pt;
}
div.wrapper > div{
    height: inherit;
    overflow: hidden;
}
div.wrapper > div.left{
    margin-left: 6%;
    float: left;
    width: 25%;
}
div.wrapper > div.right{
    margin-right: 3%;
    margin-left: 2%;
    float: right;
    font-weight: normal;
    width: 60%;
}
div.wrapper .what-know{
    font-size: 11pt;
}
div.wrapper div div{
    margin-bottom: 0.3cm;
}
a.print_button{
    position: fixed;
    color:white;
    text-decoration: none;
    right:0;
    top: 15px;
    width: 80px;
    height: 20px;
    background: gray;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 2px;
    border-right:0
}
a.print_button:hover{
    opacity: 0.8;
}
@media print {
    a{
        display: none;
    }
}
div.page2[size="A4"] .congratulation{
	margin-top: 350px;
	padding: 0 25px;
    text-align: center;
    color:#4f5253;
    font-style: italic;
}